
{% extends "base.html" %}
{% load static %}

{% block body %}

<!--Body-->



            <div class="kingster-page-title-wrap  kingster-style-medium kingster-left-align">
                <div class="kingster-header-transparent-substitute"></div>
                <div class="kingster-page-title-overlay"></div>
                <div class="kingster-page-title-container kingster-container">
                    <div class="kingster-page-title-content kingster-item-pdlr">
                        <h1 class="kingster-page-title">Academic regulation for PG</h1></div>
                </div>
            </div>
            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-wrapper ">
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">


                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-event-item gdlr-core-item-pdb">
                                        <div class="gdlr-core-event-item-holder clearfix">






                                            <div class="gdlr-core-event-item-list gdlr-core-style-grid gdlr-core-item-pdlr   clearfix" style="margin-bottom: 45px ;">
                                                <div class="gdlr-core-event-item-thumbnail">
<!--                                                    <a href="#"><img src="upload/fancycrave-270977-unsplash-400x257.jpg" width="700" height="450"  alt="" /></a>-->
                                                </div>
                                                <span class="gdlr-core-event-item-info gdlr-core-type-start-date-month">
                                                <span class="gdlr-core-date" >20</span>
                                                <span class="gdlr-core-month">Aug 2018</span>
                                                </span>

                                                <div class="gdlr-core-event-item-content-wrap">
                                                    <h3 class="gdlr-core-event-item-title">ACADEMIC REGULATIONS for B. TECH, B.ARCH, B. PLAN, 5-yr Integrated M. Sc., MCA PROGRAMMES </h3>
                                                    <div class="gdlr-core-event-item-info-wrap">

                                                        <span class="gdlr-core-event-item-info gdlr-core-type-time">
                                                        <span class="gdlr-core-head" ><i class="icon_clock_alt" ></i></span>

                                                        </span>

                                                        <span class="gdlr-core-event-item-info gdlr-core-type-location">
<!--                                                            <span class="gdlr-core-head" ><i class="icon_pin_alt" ></i></span>-->
                                                            <span class="gdlr-core-tail"><a download="notice.docx" href="https://www.cet.edu.in/autonomousfiles/Acadmic%20regulation%20Ug%20&MCA%20final.pdf">Acadmic regulation Ug &MCA final pdf</a></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>










                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



{% endblock %}