
{% extends "base.html" %}
{% load static %}

{% block body %}

<!--Body-->



  <div class="kingster-page-title-wrap  kingster-style-medium kingster-left-align" id="academics" >
                <div class="kingster-header-transparent-substitute"></div>
                <div class="kingster-page-title-overlay"></div>
                <div class="kingster-page-title-container kingster-container">
                    <div class="kingster-page-title-content kingster-item-pdlr">
                        <div class="kingster-page-caption">Academics</div>
                        <h1 class="kingster-page-title">Course List </h1></div>
                </div>
            </div>


 <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-wrapper " style="padding: 90px 0px 60px 0px;">
                        <div class="gdlr-core-pbf-background-wrap" style="background-color: #f1f1f1 ;"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">


                                    <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                        <div class="gdlr-core-text-box-item-content" style="font-size: 18px ;text-transform: none ;color: #707070 ;">
                                            <p>The College is the first choice for the top rankers of various Joint Entrance Examinations. The college regularly conducts seminars, symposia, workshops, ISTE sponsored programmes, Teachers’ Training Programmes, short term courses, etc. to motivate the students, faculty members and staffs to achieve the best.
                                                        Apart from it the college helps in developing communication skill and personality development of an individual. Moreover, student participate in different projects run by the faculty members and gain much technical exposure. The college prepares students for B. Tech., B.Arch., B. Plan, M. Tech., M. Arch, M. Plan, MCA, M.Sc., Integrated M.Sc. and Ph.D. degrees in the following branches with duration, approved intake capacity as shown below for the academic year 2015-16:</p>
                                        </div>
                                    </div>
                                </div>
                                        <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 40px ;">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;">UG Programme:B. Tech., B. Arch, B. Plan Programme (2015-16)</h3></div>
                                                </div>
                                            </div>
                                                <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                    <div class="gdlr-core-text-box-item-content" style="text-transform: none ;">
                                                        <div style="overflow-x: auto;">
                                                            <table style="min-width: 835px;">
                                                                <tbody>


                                                                    <tr>
                                                                        <th>SL NO</th>
                                                                        <th>Full time course</th>
                                                                        <th>Approved intake</th>
                                                                        <th>Entry level</th>
                                                                        <th>Duration</th>
                                                                        <th>Degree</th>

                                                                    </tr>

<!--for loop-->
                                                                    <tr>
                                                                        <td>01</td>
                                                                        <td>Architecture</td>
                                                                        <td>20</td>
                                                                        <td>10 +2</td>
                                                                        <td>5 years</td>
                                                                        <td>B. Arch.</td>
                                                                    </tr>


                                                                <tr>
                                                                    <td>02</td>
                                                                        <td>Bachelor in Planning</td>
                                                                        <td>60</td>
                                                                        <td>10 +2</td>
                                                                        <td>4 years</td>
                                                                        <td>B.plan</td>

                                                                    </tr>




                                                                  <tr>
                                                                    <td>03</td>
                                                                        <td>Biotechnology (SSP)</td>
                                                                        <td>30</td>
                                                                        <td>10 +2</td>
                                                                        <td>4 years</td>
                                                                        <td>B tech</td>

                                                                    </tr>


                                                                 <tr>
                                                                    <td>04</td>
                                                                        <td>Civil Engineering</td>
                                                                        <td>120</td>
                                                                        <td>10 +2</td>
                                                                        <td>4 years</td>
                                                                        <td>B tech(civil)</td>

                                                                    </tr>
<tr>
                                                                    <td>05</td>
                                                                        <td>Computer Science & Engineering (SSP)</td>
                                                                        <td>60</td>
                                                                        <td>10 +2</td>
                                                                        <td>4 years</td>
                                                                        <td>B tech(CSE)</td>

                                                                    </tr>



                                                                <td>06</td>
                                                                        <td>Electrical Engineering</td>
                                                                        <td>120</td>
                                                                        <td>10 +2</td>
                                                                        <td>4 years</td>
                                                                        <td>B tech(elect)</td>

                                                                    </tr>

                                                                 <tr>
                                                                        <td></td>
                                                                        <td><b>Total annual intake</td>
                                                                        <td><b>800</b></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>



                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




<div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 40px ;">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;">PG Programme:M.Tech., M.Arch., M. Plan Programme(from the academic year 2015-16)</h3></div>
                                                </div>
                                            </div>
<div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                    <div class="gdlr-core-text-box-item-content" style="text-transform: none ;">
                                                        <div style="overflow-x: auto;">
                                                            <table style="min-width: 835px;">
                                                                <tbody>


                                                                    <tr>
                                                                        <th>SL NO</th>
                                                                        <th>Full time course</th>
                                                                        <th>Approved intake</th>
                                                                        <th>Entry level</th>
                                                                        <th>Duration</th>
                                                                        <th>Degree</th>

                                                                    </tr>

<!--for loop-->
                                                                    <tr>
                                                                        <td>01</td>
                                                                        <td>Computer Science & Engineering (SSP)</td>
                                                                        <td>18</td>
                                                                        <td>Btech</td>
                                                                        <td>2 years</td>
                                                                        <td>M. Arch.</td>
                                                                    </tr>


                                                                    <tr>
                                                                        <td>02</td>
                                                                        <td>Information Technology (SSP)</td>
                                                                        <td>18</td>
                                                                        <td>Btech</td>
                                                                        <td>2 years</td>
                                                                        <td>M. Arch.</td>
                                                                    </tr>



                                                                    <tr>
                                                                        <td>03</td>
                                                                        <td>Structural Engineering. (SSP)</td>
                                                                        <td>18</td>
                                                                        <td>Btech</td>
                                                                        <td>2 years</td>
                                                                        <td>M. Arch.</td>
                                                                    </tr>


                                                                    <tr>
                                                                        <td>04</td>
                                                                        <td>Industrial Engineering & Management (SSP)</td>
                                                                        <td>18</td>
                                                                        <td>Btech</td>
                                                                        <td>2 years</td>
                                                                        <td>M. Arch.</td>
                                                                    </tr>


                                                                    <tr>
                                                                        <td>05</td>
                                                                        <td>Power System Engineering</td>
                                                                        <td>18</td>
                                                                        <td>Btech</td>
                                                                        <td>2 years</td>
                                                                        <td>M. Arch.</td>
                                                                    </tr>


                                                                  <tr>
                                                                        <td>06</td>
                                                                        <td>Electronic & Instrumentation Engineering</td>
                                                                        <td>18</td>
                                                                        <td>Btech</td>
                                                                        <td>2 years</td>
                                                                        <td>M. Arch.</td>
                                                                    </tr>


                                                                  <tr>
                                                                        <td>07</td>
                                                                        <td>Biotechnology</td>
                                                                        <td>18</td>
                                                                        <td>Btech</td>
                                                                        <td>2 years</td>
                                                                        <td>M. Arch.</td>
                                                                    </tr>


                                                                  <tr>
                                                                        <td>08</td>
                                                                        <td>Water Resources Engineering</td>
                                                                        <td>18</td>
                                                                        <td>Btech</td>
                                                                        <td>2 years</td>
                                                                        <td>M. Arch.</td>
                                                                    </tr>



                                                                  <tr>
                                                                        <td></td>
                                                                        <td><b>Total annual intake</td>
                                                                        <td><b>506</b></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>








                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>











<div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 40px ;">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;">Ph.D. Programme (under TEQIP)</h3></div>
                                                </div>
                                            </div>
<div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                    <div class="gdlr-core-text-box-item-content" style="text-transform: none ;">
                                                        <div style="overflow-x: auto;">
                                                            <table style="min-width: 835px;">
                                                                <tbody>


                                                                    <tr>
                                                                        <th>SL NO</th>
                                                                        <th>Department</th>
                                                                        <th>Students admitted</th>


                                                                    </tr>

<!--for loop-->
                                                                    <tr>
                                                                        <td>01</td>
                                                                        <td>Biotechnology</td>
                                                                        <td>02 (2012-13), 01 (2013-14)</td>

                                                                    </tr>


                                                                    <tr>
                                                                        <td>02</td>
                                                                        <td>Civil Engineering</td>
                                                                        <td>01 (2013-14)</td>

                                                                    </tr>



                                                                    <tr>
                                                                        <td>03</td>
                                                                        <td>Computer Science & Engineering</td>
                                                                        <td>01 (2012-13), 01 (2013-14)</td>

                                                                    </tr>


                                                                    <tr>
                                                                        <td>04</td>
                                                                        <td>Chemistry</td>
                                                                        <td>01 (2012-13), 01 (2013-14)</td>

                                                                    </tr>


                                                                    <tr>
                                                                        <td>05</td>
                                                                        <td>Electrical Engineering</td>
                                                                        <td>01 (2012-13), 02 (2013-14)</td>

                                                                    </tr>


                                                                  <tr>
                                                                        <td>06</td>
                                                                        <td>Information Technology</td>
                                                                        <td>01 (2012-13), 01 (2013-14)</td>

                                                                    </tr>


                                                                  <tr>
                                                                        <td>07</td>
                                                                        <td>Mechanical Engineering</td>
                                                                        <td>1 (2012-13), 01 (2013-14)</td>

                                                                    </tr>


                                                                  <tr>
                                                                        <td>08</td>
                                                                        <td>Physics</td>
                                                                        <td>01 (2013-14)</td>


                                                                    </tr>



                                                                   <tr>
                                                                        <td></td>
                                                                        <td><b>Total annual intake</b></td>
                                                                        <td><b>16</b></td>


                                                                    </tr>



                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



  <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                        <div class="gdlr-core-text-box-item-content" style="font-size: 18px ;text-transform: none ;color: #707070 ;">
                                            <p><h3>Course Credit Systems</h3>
                                            Course credit system of teaching and continuous evaluation through internal assessment with 10 point grading is followed for the undergraduates and post-graduates in common with other sister colleges of the University (BPUT), each academic year is divided into two Semesters. Duration of each Semester is of 85 Net Instruction Days (NIDs). The course curricula of B. Tech, B. Arch, M. Tech., M. Arch., MCA, M.Sc. and Integrated M.Sc. degree courses have been framed in accordance with the guidelines of the Council of Architecture for B.Arch. & M. Arch., the AICTE for other Engineering & MCA courses and University for M.Sc. & Integrated M.Sc. Besides the course curricula, there is provision for practical training, seminar and project work</div>
                                    </div>
                                </div>

  <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                        <div class="gdlr-core-text-box-item-content" style="font-size: 18px ;text-transform: none ;color: #707070 ;">
                                            <p><h3>Semester Regulations</h3>
                                            Semester Regulations are provided as per BPUT norms. For further details “Regulation for Under-graduate and Post-graduate, Diploma course” may be referred to in BPUT Website. All the students are expected to know the requirements for the award of degree/diploma they have registered for including the general academic requirements and assume full responsibility for meeting them. They are expected to be constantly in touch with the concerned HODs so that the latter may watch their progress and guide them along right lines. In no case a regulation will be waived or examination made simple because a student pleads ignorance of it. </div>
                                </div>

                                              <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                        <div class="gdlr-core-text-box-item-content" style="font-size: 18px ;text-transform: none ;color: #707070 ;">
                                            <p><h3>Identity Card</h3>
                                           A Registration Card bearing the name, Registration number, Branch and photograph of the student duly signed by the registrar of BPUT, shall be issued to each enrolled student through OJEE. The college issue the Identity card in support of above. All the students are expected to carry their identity card to the college on all working days and produce the same when required. In case the identity card of a student is lost, a new one shall be issued to him/her on payment of fees as prescribed.</div>
                                </div>







                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


{% endblock %}