{% extends "base.html" %}
{% load static %}

{% block body %}
<!--Body-->

<h4 class="text-center">All events</h4>

<h4 class="text-center"><a href="{% url 'adminEventsForm' %}">add new Events</a></h4>


{% for i in n %}

<div class="container" style="margin-top: 50px">


	<div class="row">
		<div class="col-3">
			events_title
		</div>
		<div class="col-9">
			{{i.events_title}}
		</div>




		<div class="col-3">
			start_time
		</div>
		<div class="col-9">
			{{i.start_time}}
		</div>


		<div class="col-3">
			end_time
		</div>
		<div class="col-9">
			{{i.end_time}}
		</div>


		<div class="col-3">
			location
		</div>
		<div class="col-9">
			{{i.location}}
		</div>


		<div class="col-3">
			date
		</div>
		<div class="col-9">
			{{i.date}}
		</div>

{% if i.upload %}
		<div class="col-3">
			upload
		</div>
		<div class="col-9">
			<a  href="{{i.upload.url}}"  style="color:red;" download>Click here</a>
		</div>
		{% endif %}





</div>
</div>

{% endfor %}






{% endblock %}

