{% extends "base.html" %}
{% load static %}

{% block body %}

<!--Body-->

            <div class="kingster-page-title-wrap  kingster-style-medium kingster-left-align">
                <div class="kingster-header-transparent-substitute"></div>
                <div class="kingster-page-title-overlay"></div>
                <div class="kingster-page-title-container kingster-container">
                    <div class="kingster-page-title-content kingster-item-pdlr">
                        <h1 class="kingster-page-title">Event Calendar</h1></div>
                </div>
            </div>
            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-wrapper ">
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-event-item gdlr-core-item-pdb">
                                        <div class="gdlr-core-event-item-holder clearfix">


                                            <div class="gdlr-core-event-item-list gdlr-core-style-grid gdlr-core-item-pdlr gdlr-core-column-20 gdlr-core-column-first  clearfix" style="margin-bottom: 45px ;">
                                                <div class="gdlr-core-event-item-thumbnail">
                                                    <a href="#"><img src="images/5.png" width="700" height="450" alt=""></a>
                                                </div><span class="gdlr-core-event-item-info gdlr-core-type-start-date-month"><span class="gdlr-core-date">25</span><span class="gdlr-core-month">Jan</span></span>
                                                <div class="gdlr-core-event-item-content-wrap">
                                                    <h3 class="gdlr-core-event-item-title"><a href="#"><p style="color: #50bd77;">UG-</p>Odd (3rd) Semester Regular and Back Examination Schedule of (AUTONOMOUS) batch 2020-21</a></h3>
                                                    <div class="gdlr-core-event-item-info-wrap"><span class="gdlr-core-event-item-info gdlr-core-type-time"><span class="gdlr-core-head"></span><span class="gdlr-core-tail"></span></span><span class="gdlr-core-event-item-info gdlr-core-type-location"><span class="gdlr-core-head"></span><span class="gdlr-core-tail"></span></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="gdlr-core-event-item-list gdlr-core-style-grid gdlr-core-item-pdlr gdlr-core-column-20  clearfix" style="margin-bottom: 45px ;">
                                                <div class="gdlr-core-event-item-thumbnail">
                                                    <a href="#"><img src="images/5.png" width="700" height="450" alt=""></a>
                                                </div><span class="gdlr-core-event-item-info gdlr-core-type-start-date-month"><span class="gdlr-core-date">21</span><span class="gdlr-core-month">Jan</span></span>
                                                <div class="gdlr-core-event-item-content-wrap">
                                                    <h3 class="gdlr-core-event-item-title"><a href="#"><p style="color: #50bd77;">UG-</p>Odd (3rd) Semester Regular and Back Examination Schedule of (AUTONOMOUS) batch</a></h3>
                                                    <div class="gdlr-core-event-item-info-wrap"><span class="gdlr-core-event-item-info gdlr-core-type-time"><span class="gdlr-core-head"></span><span class="gdlr-core-tail"></span></span><span class="gdlr-core-event-item-info gdlr-core-type-location"><span class="gdlr-core-head"></span><span class="gdlr-core-tail"></span></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="gdlr-core-event-item-list gdlr-core-style-grid gdlr-core-item-pdlr gdlr-core-column-20  clearfix" style="margin-bottom: 45px ;">
                                                <div class="gdlr-core-event-item-thumbnail">
                                                    <a href="#"><img src="images/5.png" width="700" height="450" alt=""></a>
                                                </div><span class="gdlr-core-event-item-info gdlr-core-type-start-date-month"><span class="gdlr-core-date">12</span><span class="gdlr-core-month">Jan</span></span>
                                                <div class="gdlr-core-event-item-content-wrap">
                                                    <h3 class="gdlr-core-event-item-title"><a href="#"><p style="color: #50bd77;">UG-</p>Revised Examination Schedule (ONLINE) of 7th Semester (Regular) 2020-21</a></h3>
                                                    <div class="gdlr-core-event-item-info-wrap"><span class="gdlr-core-event-item-info gdlr-core-type-time"><span class="gdlr-core-head"></span><span class="gdlr-core-tail"></span></span><span class="gdlr-core-event-item-info gdlr-core-type-location"><span class="gdlr-core-head"></span><span class="gdlr-core-tail"></span></span>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="gdlr-core-event-item-list gdlr-core-style-grid gdlr-core-item-pdlr gdlr-core-column-20 gdlr-core-column-first  clearfix" style="margin-bottom: 45px ;">
                                                <div class="gdlr-core-event-item-thumbnail">
                                                    <a href="#"><img src="images/5.png" width="700" height="450" alt=""></a>
                                                </div><span class="gdlr-core-event-item-info gdlr-core-type-start-date-month"><span class="gdlr-core-date">08</span><span class="gdlr-core-month">Sep</span></span>
                                                <div class="gdlr-core-event-item-content-wrap">
                                                    <h3 class="gdlr-core-event-item-title"><a href="#"><p style="color: #50bd77;">PG-</p>4th Sem PG Regular</a></h3>
                                                    <div class="gdlr-core-event-item-info-wrap"><span class="gdlr-core-event-item-info gdlr-core-type-time"><span class="gdlr-core-head"></span><span class="gdlr-core-tail"></span></span><span class="gdlr-core-event-item-info gdlr-core-type-location"><span class="gdlr-core-head"></span><span class="gdlr-core-tail"></span></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="gdlr-core-event-item-list gdlr-core-style-grid gdlr-core-item-pdlr gdlr-core-column-20  clearfix" style="margin-bottom: 45px ;">
                                                <div class="gdlr-core-event-item-thumbnail">
                                                    <a href="#"><img src="{% static 'images/5.png' %}" width="700" height="450" alt=""></a>
                                                </div><span class="gdlr-core-event-item-info gdlr-core-type-start-date-month"><span class="gdlr-core-date">27</span><span class="gdlr-core-month">Aug</span></span>
                                                <div class="gdlr-core-event-item-content-wrap">
                                                    <h3 class="gdlr-core-event-item-title"><a href="#"><p style="color: #50bd77;">PG-</p>2nd Semester Back Paper Schedule_B.Arch_BPlan_Int Msc_MTech_MPlan(2017 Batch)</a></h3>
                                                    <div class="gdlr-core-event-item-info-wrap"><span class="gdlr-core-event-item-info gdlr-core-type-time"><span class="gdlr-core-head"></span><span class="gdlr-core-tail"></span></span><span class="gdlr-core-event-item-info gdlr-core-type-location"><span class="gdlr-core-head"></span><span class="gdlr-core-tail"></span></span>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="gdlr-core-event-item-list gdlr-core-style-grid gdlr-core-item-pdlr gdlr-core-column-20  clearfix" style="margin-bottom: 45px ;">
                                                <div class="gdlr-core-event-item-thumbnail">
                                                    <a href="#"><img src="images/5.png" width="700" height="450" alt=""></a>
                                                </div><span class="gdlr-core-event-item-info gdlr-core-type-start-date-month"><span class="gdlr-core-date">24</span><span class="gdlr-core-month">Aug</span></span>
                                                <div class="gdlr-core-event-item-content-wrap">
                                                    <h3 class="gdlr-core-event-item-title"><a href="#"><p style="color: #50bd77;">PG-</p>2nd Semester Regular & Back Examination Schedule 2019-20 for M.Tech. MCA, M.Sc, Int. M.Sc. and M.Plan programme</a></h3>
                                                    <div class="gdlr-core-event-item-info-wrap"><span class="gdlr-core-event-item-info gdlr-core-type-time"><span class="gdlr-core-head"></span><span class="gdlr-core-tail"></span></span><span class="gdlr-core-event-item-info gdlr-core-type-location"><span class="gdlr-core-head"></span><span class="gdlr-core-tail"></span></span>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}