{% extends "base.html" %}
{% load static %}

{% block body %}

<!--Body-->

            <div class="kingster-page-title-wrap kingster-style-medium kingster-left-align" id="dept">
                <div class="kingster-header-transparent-substitute"></div>
                <div class="kingster-page-title-overlay"></div>
                <div class="kingster-page-title-container kingster-container">
                    <div class="kingster-page-title-content kingster-item-pdlr">
                        <div class="kingster-page-caption">College of Engineering and Technology</div>
                        <h1 class="kingster-page-title">Our departments</h1></div>
                </div>
            </div>
            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="kingster-content-container kingster-container">
                    <div class=" kingster-sidebar-wrap clearfix kingster-line-height-0 kingster-sidebar-style-right">


                        <div class=" kingster-sidebar-center kingster-column-40 kingster-line-height">
                            <div class="gdlr-core-page-builder-body">
                                <div class="gdlr-core-pbf-wrapper ">
                                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                                        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list-info">


                                                    <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Arch</span>Architecture</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">HOD : </span><span class="gdlr-core-tail">Mr. Partha Pratim Karmakar</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Building : </span><span class="gdlr-core-tail">B402</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Level : </span><span class="gdlr-core-tail">Undergraduate</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Instructor : </span><span class="gdlr-core-tail">Carol Dawson (PhD)</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Semester : </span><span class="gdlr-core-tail">Fall 2018</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Credit : </span><span class="gdlr-core-tail">4.000</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Method : </span><span class="gdlr-core-tail">Lecture</span></div>
                                                        </div><a style="background-color:#ffa300;" href="{% url 'dept_arch' %}" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a></div>



                                                     <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >CSA</span> Master of Computer Application</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">HOD : </span><span class="gdlr-core-tail">Dr. Jibitesh Mishra</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Building : </span><span class="gdlr-core-tail">B402</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Level : </span><span class="gdlr-core-tail">Undergraduate</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Instructor : </span><span class="gdlr-core-tail">Carol Dawson (PhD)</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Semester : </span><span class="gdlr-core-tail">Fall 2018</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Credit : </span><span class="gdlr-core-tail">4.000</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Method : </span><span class="gdlr-core-tail">Lecture</span></div>
                                                        </div><a style="background-color:#ffa300;"  href="{% url 'dept_mca' %}" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a></div>


                                                    <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >EE</span>Electrical engineering</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">HOD : </span><span class="gdlr-core-tail">Dr. Jibitesh Mishra</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Building : </span><span class="gdlr-core-tail">B402</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Level : </span><span class="gdlr-core-tail">Undergraduate</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Instructor : </span><span class="gdlr-core-tail">Carol Dawson (PhD)</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Semester : </span><span class="gdlr-core-tail">Fall 2018</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Credit : </span><span class="gdlr-core-tail">4.000</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Method : </span><span class="gdlr-core-tail">Lecture</span></div>
                                                        </div><a style="background-color:#ffa300;" href="{% url 'dept_ee' %}" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a></div>





                                                    <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >BIO</span>Biotechnology</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">HOD : </span><span class="gdlr-core-tail">Dr. Jibitesh Mishra</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Building : </span><span class="gdlr-core-tail">B402</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Level : </span><span class="gdlr-core-tail">Undergraduate</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Instructor : </span><span class="gdlr-core-tail">Carol Dawson (PhD)</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Semester : </span><span class="gdlr-core-tail">Fall 2018</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Credit : </span><span class="gdlr-core-tail">4.000</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Method : </span><span class="gdlr-core-tail">Lecture</span></div>
                                                        </div><a style="background-color:#ffa300;" href="{% url 'dept_bio' %}" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a></div>



                                                    <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Civil</span> Civil engineering</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">HOD : </span><span class="gdlr-core-tail">Dr. Jibitesh Mishra</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Building : </span><span class="gdlr-core-tail">B402</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Level : </span><span class="gdlr-core-tail">Undergraduate</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Instructor : </span><span class="gdlr-core-tail">Carol Dawson (PhD)</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Semester : </span><span class="gdlr-core-tail">Fall 2018</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Credit : </span><span class="gdlr-core-tail">4.000</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Method : </span><span class="gdlr-core-tail">Lecture</span></div>
                                                        </div><a style="background-color:#ffa300;" href="{% url 'dept_civil' %}" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a></div>






                                                              <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >IT</span>Information technology</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">HOD : </span><span class="gdlr-core-tail">Dr. Jibitesh Mishra</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Building : </span><span class="gdlr-core-tail">B402</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Level : </span><span class="gdlr-core-tail">Undergraduate</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Instructor : </span><span class="gdlr-core-tail">Carol Dawson (PhD)</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Semester : </span><span class="gdlr-core-tail">Fall 2018</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Credit : </span><span class="gdlr-core-tail">4.000</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Method : </span><span class="gdlr-core-tail">Lecture</span></div>
                                                        </div><a style="background-color:#ffa300;" href="{% url 'dept_it' %}" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a></div>




                                                              <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >CSE</span> Computer Science & Engineering</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">HOD : </span><span class="gdlr-core-tail">Dr. Jibitesh Mishra</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Building : </span><span class="gdlr-core-tail">B402</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Level : </span><span class="gdlr-core-tail">Undergraduate</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Instructor : </span><span class="gdlr-core-tail">Carol Dawson (PhD)</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Semester : </span><span class="gdlr-core-tail">Fall 2018</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Credit : </span><span class="gdlr-core-tail">4.000</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Method : </span><span class="gdlr-core-tail">Lecture</span></div>
                                                        </div><a style="background-color:#ffa300;" href="{% url 'dept_cse' %}" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a></div>




                                                              <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >F&T</span> Fashion & Apparel Technology</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">HOD : </span><span class="gdlr-core-tail">Dr. Jibitesh Mishra</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Building : </span><span class="gdlr-core-tail">B402</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Level : </span><span class="gdlr-core-tail">Undergraduate</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Instructor : </span><span class="gdlr-core-tail">Carol Dawson (PhD)</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Semester : </span><span class="gdlr-core-tail">Fall 2018</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Credit : </span><span class="gdlr-core-tail">4.000</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Method : </span><span class="gdlr-core-tail">Lecture</span></div>
                                                        </div><a style="background-color:#ffa300;" href="{% url 'dept_fat' %}" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a></div>




                                                              <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >IEE</span> Instrumentation & Electronics Engineering</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">HOD : </span><span class="gdlr-core-tail">Dr. Jibitesh Mishra</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Building : </span><span class="gdlr-core-tail">B402</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Level : </span><span class="gdlr-core-tail">Undergraduate</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Instructor : </span><span class="gdlr-core-tail">Carol Dawson (PhD)</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Semester : </span><span class="gdlr-core-tail">Fall 2018</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Credit : </span><span class="gdlr-core-tail">4.000</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Method : </span><span class="gdlr-core-tail">Lecture</span></div>
                                                        </div><a style="background-color:#ffa300;" href="{% url 'dept_iee' %}" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a></div>




                                                              <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >ME</span>Mechanical Engineering</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">HOD : </span><span class="gdlr-core-tail">Dr. Jibitesh Mishra</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Building : </span><span class="gdlr-core-tail">B402</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Level : </span><span class="gdlr-core-tail">Undergraduate</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Instructor : </span><span class="gdlr-core-tail">Carol Dawson (PhD)</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Semester : </span><span class="gdlr-core-tail">Fall 2018</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Credit : </span><span class="gdlr-core-tail">4.000</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Method : </span><span class="gdlr-core-tail">Lecture</span></div>
                                                        </div><a style="background-color:#ffa300;" href="{% url 'dept_me' %}" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a></div>




                                                       <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >TE</span>Textile Engineering</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">HOD : </span><span class="gdlr-core-tail">Dr. Jibitesh Mishra</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Building : </span><span class="gdlr-core-tail">B402</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Level : </span><span class="gdlr-core-tail">Undergraduate</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Instructor : </span><span class="gdlr-core-tail">Carol Dawson (PhD)</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Semester : </span><span class="gdlr-core-tail">Fall 2018</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Credit : </span><span class="gdlr-core-tail">4.000</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Method : </span><span class="gdlr-core-tail">Lecture</span></div>
                                                        </div><a style="background-color:#ffa300;" href="{% url 'dept_te' %}" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a></div>




                                                       <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Planning</span>Planning</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">HOD : </span><span class="gdlr-core-tail">Dr. Jibitesh Mishra</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Building : </span><span class="gdlr-core-tail">B402</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Level : </span><span class="gdlr-core-tail">Undergraduate</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Instructor : </span><span class="gdlr-core-tail">Carol Dawson (PhD)</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Semester : </span><span class="gdlr-core-tail">Fall 2018</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Credit : </span><span class="gdlr-core-tail">4.000</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Method : </span><span class="gdlr-core-tail">Lecture</span></div>
                                                        </div><a style="background-color:#ffa300;" href="{% url 'dept_planning' %}" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a></div>




                                                       <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >M&H</span>Mathematics & Humanities</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">HOD : </span><span class="gdlr-core-tail">Dr. Jibitesh Mishra</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Building : </span><span class="gdlr-core-tail">B402</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Level : </span><span class="gdlr-core-tail">Undergraduate</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Instructor : </span><span class="gdlr-core-tail">Carol Dawson (PhD)</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Semester : </span><span class="gdlr-core-tail">Fall 2018</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Credit : </span><span class="gdlr-core-tail">4.000</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Method : </span><span class="gdlr-core-tail">Lecture</span></div>
                                                        </div><a style="background-color:#ffa300;" href="{% url 'dept_math' %}" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a></div>




                                                       <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Phy</span>Physics</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">HOD : </span><span class="gdlr-core-tail">Dr. Jibitesh Mishra</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Building : </span><span class="gdlr-core-tail">B402</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Level : </span><span class="gdlr-core-tail">Undergraduate</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Instructor : </span><span class="gdlr-core-tail">Carol Dawson (PhD)</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Semester : </span><span class="gdlr-core-tail">Fall 2018</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Credit : </span><span class="gdlr-core-tail">4.000</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Method : </span><span class="gdlr-core-tail">Lecture</span></div>
                                                        </div><a style="background-color:#ffa300;" href="{% url 'dept_phy' %}" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a></div>


                                                       <div class="gdlr-core-course-item-list">
                                                        <h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Chem</span>Chemistry</h3>
                                                        <div class="gdlr-core-course-item-info-wrap">
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">HOD : </span><span class="gdlr-core-tail">Dr. Jibitesh Mishra</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Building : </span><span class="gdlr-core-tail">B402</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Level : </span><span class="gdlr-core-tail">Undergraduate</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Instructor : </span><span class="gdlr-core-tail">Carol Dawson (PhD)</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Semester : </span><span class="gdlr-core-tail">Fall 2018</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Credit : </span><span class="gdlr-core-tail">4.000</span></div>
                                                            <div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Method : </span><span class="gdlr-core-tail">Lecture</span></div>
                                                        </div><a style="background-color:#ffa300;" href="{% url 'dept_chem' %}" class="gdlr-core-course-item-button gdlr-core-button">More Detail</a></div>



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class=" kingster-sidebar-right kingster-column-20 kingster-line-height kingster-line-height">
                            <div class="kingster-sidebar-area kingster-item-pdlr">
                                <div id="text-18" class="widget widget_text kingster-widget">
                                    <div class="textwidget">
                                        <div class="gdlr-core-widget-box-shortcode " style="color: #ffffff ;padding: 30px 45px;background-color: #192f59 ;">
                                            <div class="gdlr-core-widget-box-shortcode-content">
                                                </p>
                                                <h3 style="font-size: 20px; color: #fff; margin-bottom: 25px;">College contact Info</h3>
                                                <p><span style="color: #3db166; font-size: 16px; font-weight: 600;">Ghatikia, Kalinga Nagar</span>
                                                    <br /> <span style="font-size: 15px;"><br /> Bhubaneswar- 751003 Odisha, India</span></p>
                                                <p><span style="font-size: 15px;">+91 674 2386075<br />  + 91 674 2386182<br /> </span></p>
                                                <p><span style="font-size: 16px; color: #3db166;">Email: info@cet.edu.in</span></p> <span class="gdlr-core-space-shortcode" style="margin-top: 40px ;"></span>
                                                <h3 style="font-size: 20px; color: #fff; margin-bottom: 15px;">Social Info</h3>
                                                <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" style="padding-bottom: 0px ;">
                                                    <a href="#url" target="_blank" class="gdlr-core-social-network-icon" title="facebook" style="color: #3db166 ;">
                                                        <i class="fa fa-facebook" ></i></a><a href="#" target="_blank" class="gdlr-core-social-network-icon" title="google-plus" style="color: #3db166 ;">
                                                    <i class="fa fa-linkedin" ></i></a><a href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype" style="color: #3db166 ;">
                                                    <i class="fa fa-twitter" ></i></a><a href="#" target="_blank" class="gdlr-core-social-network-icon" title="instagram" style="color: #3db166 ;">
                                                    <i class="fa fa-instagram" ></i></a></div> <span class="gdlr-core-space-shortcode" style="margin-top: 40px ;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


<!--#3db166-->

{% endblock %}

