{% extends "base.html" %}
{% load static %}

{% block body %}

<!--Body-->






            <div class="kingster-page-title-wrap  kingster-style-custom kingster-left-align"
                style="background-image: url({% static 'images/5.png' %}) ;">
                <div class="kingster-header-transparent-substitute"></div>
                <div class="kingster-page-title-overlay"></div>
                <div class="kingster-page-title-bottom-gradient"></div>
                <div class="kingster-page-title-container kingster-container">
                    <div class="kingster-page-title-content kingster-item-pdlr"
                        style="padding-top: 400px ;padding-bottom: 60px ;">
                        <div class="kingster-page-caption"
                            style="font-size: 21px ;font-weight: 400 ;letter-spacing: 0px ;">Undergraduate Program</div>
                        <h1 class="kingster-page-title"
                            style="font-size: 48px ;font-weight: 700 ;text-transform: none ;letter-spacing: 0px ;color: #ffffff ;">
                            Department of Planning</h1>
                    </div>
                </div>
            </div>
            <div class="kingster-breadcrumbs">
                <div class="kingster-breadcrumbs-container kingster-container">
                    <div class="kingster-breadcrumbs-item kingster-item-pdlr"> <span property="itemListElement"
                            typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Kingster."
                                href="index.html" class="home"><span property="name">Home</span></a>
                            <meta property="position" content="1">
                        </span>&gt;<span property="itemListElement" typeof="ListItem"><span property="name">Department
                                of Planning</span>
                            <meta property="position" content="2">
                        </span>
                    </div>
                </div>
            </div>
            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-sidebar-wrapper " style="margin: 0px 0px 30px 0px;">
                        <div
                            class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                            <div class="gdlr-core-pbf-sidebar-content gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left"
                                style="padding: 35px 0px 20px 0px;">
                                <div class="gdlr-core-pbf-sidebar-content-inner">
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                    style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                    Vision</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <p>
                                                    To facilitate the future generation of planning professionals to be
                                                    stalwarts of built and natural environment, providing planning
                                                    services to denizens in a holistic approach.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                    style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                    Mission</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <ol type="i">
                                                    <li>To ensure quality education imparted to the students through
                                                        cutting edge planning methodology prevailing in urban world.
                                                    </li>
                                                    <li>To develop technical as well as analytical skills among the
                                                        students and empowering them to meet the various challenges of
                                                        society.</li>
                                                    <li>To inculcate the ethics of urban and regional planning practices
                                                        to the students.</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                    style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                    Programme Educational Objectives (PEO)</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <ol type="1">
                                                    <li>To enhance the professional capabilities of students for
                                                        preparing plans and projects for the cities and regions.
                                                    </li>
                                                    <li>To undertake research on policies and processes of urbanization
                                                        and sustainable urban development.
                                                    </li>
                                                    <li>To impart adequate skills and exposure to the students to enable
                                                        them to handle the complex challenges of planning, design,
                                                        impact assessment as well as mitigation and preventive measures.

                                                    </li>
                                                    <li>To equip students for preparing strategy for planning and
                                                        governance of cities and regions.
                                                    </li>
                                                    <li>To expose the students to social, political, economic and
                                                        financial dimensions of urban development and ethical dimensions
                                                        of working as professionals.
                                                    </li>
                                                    <li>To develop leadership skills that will help shape the future
                                                        direction of urban and regional planning
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                    style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                    Program Outcomes (PO)</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <ol type="1">
                                                    <li>An ability to correlate the multidisciplinary aspects of urban
                                                        and regional planning.
                                                    </li>
                                                    <li>An ability to establish databank for the respective cities and
                                                        towns.
                                                    </li>
                                                    <li>An ability to visualize the pros and cons of the urban and
                                                        regional development happening around the world.
                                                    </li>
                                                    <li>An ability to possess leadership skills for making pathways in
                                                        tackling hurdles of development.
                                                    </li>
                                                    <li>An ability to guide urban and regional development ensuring
                                                        sustainability.
                                                    </li>
                                                    <li>An ability to understand the value of built and natural
                                                        environment.
                                                    </li>
                                                    <li>An ability to protect the historical identity of the region.
                                                    </li>
                                                    <li>Understand ethical principles and social issues.</li>
                                                    <li>Function effectively as an individual, and as a member or leader
                                                        in diverse teams to accomplish a common goal.</li>
                                                    <li>An ability to promote the aesthetics and heritage of the region.
                                                    </li>
                                                    <li>An ability to work for the upliftment of the deprived sections
                                                        of our society.
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                    style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                    About the Department</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <p>The B. Plan and M. Plan courses started in the academic year 2015-16
                                                    to facilitate the future generation of planning professionals in the
                                                    State. This Department offers four years regular programme in
                                                    Planning i.e Bachelor of Planning (B. Plan) and two years Master of
                                                    Planning (M. Plan) having intake of 60 and 18 Students respectively.
                                                    It is the only Department in the State which imparts education in
                                                    the field of Planning. The Department provides quality education to
                                                    the Students through cutting edge Planning methodology prevailing in
                                                    urban world & develops technical as well as analytical skills among
                                                    the students to meet the various challenges of society pertaining to
                                                    Urban & Regional planning.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <table width="97%" border="0" cellspacing="1" cellpadding="3" align="center" class="tblbdr">

                                        <form name="form1" method="post" action="/planning.php">
                                          <tr>
                                            <td colspan="3" class="sectionHead">&nbsp;
                                                            </td>

                                                      </tr><tr>
                                            <th colspan="3" class="thstyle"><b>Assistant Professor</b></th>
                                          </tr>
                                                     <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tbody><tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Mr.&nbsp;                          Bhabani Shankar Sa                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br>
                                                        B.Arch. (CET, BBSR)
                              M.Plan. (S.P.A, New Delhi),&nbsp;</td>
                                                  </tr>
                                                </tbody></table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">Housing<br>
                              <br>
                              E-mail:<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="36545e575457585f465a5758585f58517655534218535243185f58">bhabaniplanning@cet.edu.in </a>&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2"> Mob :9937658755			      			  <br>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                                     <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tbody><tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Mrs.&nbsp;                          Swapna Sarita Swain                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br>
                                                        B.Arch. (CET, BBSR)
                              M.Plan. (S.P.A, New Delhi),&nbsp;</td>
                                                  </tr>
                                                </tbody></table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">Housing <br>
                              <br>
                              E-mail: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="74070703151d1a0418151a1a1d1a13341711005a1110015a1d1a"> sswainplanning@cet.edu.in </a>&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2"> Mob :8456974680			      			  <br>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                                     <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tbody><tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Mr.&nbsp;                          Santosh Kumar                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br>
                                                        B.Arch., (NIT, Patna)
                              M.Plan (NIT, Patna),&nbsp;</td>
                                                  </tr>
                                                </tbody></table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">Urban and Regional Planning <br>
                              <br>
                              E-mail:<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="15667e607874676579747b7b7c7b72557670613b7071603b7c7b">skumarplanning@cet.edu.in  </a>&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2"> Mob :7321832554			      			  <br>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                                      <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->

                                          <!-- <tr>
                                                      <td colspan="3" bgcolor="#DDDDDD">
                                                     <div align="right" class="gentxt"><a href="department.php?did=" class="generalLink"><b>Go to Department</b></a></div></td>
                                                    </tr>-->


                                        </form>
                                        </table>			</td>
                                          <td>&nbsp;</td>
                                        </tr>
                                      </table>

                                </div>
                            </div>
                            <div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right kingster-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding gdlr-core-line-height"
                                style="padding: 35px 0px 30px 0px;">
                                <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
                                    <div id="text-18" class="widget widget_text kingster-widget">
                                        <div class="textwidget">
                                            <div class="gdlr-core-widget-box-shortcode "
                                                style="color: #ffffff ;padding: 30px 45px;background-color: #192f59 ;">
                                                <div class="gdlr-core-widget-box-shortcode-content">
                                                    </p>
                                                    <h3 style="font-size: 20px; color: #fff; margin-bottom: 25px;">
                                                        Department Contact Info</h3>
                                                    <p>
                                                        <span
                                                            style="color: #0082fa; font-size: 16px; font-weight: 600;">
                                                            Department of Electrical Engineering (NBA
                                                            Accredited)</span><br />
                                                        <span style="font-size: 15px;"><br />
                                                            College of Engineering and Technology<br />
                                                            Kalinga Nagar, Ghatikia, Bhubaneswar, Odisha 751003</span>
                                                    </p>
                                                    <p>
                                                        <span style="font-size: 15px;">+91-Sample<br />
                                                            <a href="#"
                                                                class="__cf_email__">sample@cet.edu.in</a><br />
                                                        </span>
                                                    </p>
                                                    <p>
                                                        <span style="font-size: 16px; color: #0082fa;">Mon &#8211; Sat
                                                            9:30A.M. &#8211; 5:30P.M.</span>
                                                    </p>
                                                    <span class="gdlr-core-space-shortcode"
                                                        style="margin-top: 40px ;"></span>
                                                    <h3 style="font-size: 20px; color: #fff; margin-bottom: 15px;">
                                                        Social Info</h3>
                                                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align"
                                                        style="padding-bottom: 0px ;">
                                                        <a href="#url" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="facebook"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-facebook"></i></a>
                                                        <a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="google-plus"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-google-plus"></i></a>
                                                        <a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="linkedin"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-linkedin"></i></a>
                                                        <a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="skype"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-skype"></i></a><a href="#url"
                                                            target="_blank" class="gdlr-core-social-network-icon"
                                                            title="twitter" style="color: #0082fa ;"
                                                            rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                                                        <a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="instagram"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-instagram"></i></a>
                                                    </div>
                                                    <span class="gdlr-core-space-shortcode"
                                                        style="margin-top: 40px ;"></span>
                                                    <a class="gdlr-core-button gdlr-core-button-shortcode gdlr-core-button-gradient gdlr-core-button-no-border"
                                                        href="#"
                                                        style="padding: 16px 27px 18px;margin-right: 20px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #0082fa ;"><span
                                                            class="gdlr-core-content">Student Resources</span></a>
                                                    <p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}