{% extends "base.html" %}
{% load static %}

{% block body %}

<!--Body-->






            <div class="kingster-page-title-wrap  kingster-style-custom kingster-left-align"
                style="background-image: url({% static 'images/5.png' %}) ;">
                <div class="kingster-header-transparent-substitute"></div>
                <div class="kingster-page-title-overlay"></div>
                <div class="kingster-page-title-bottom-gradient"></div>
                <div class="kingster-page-title-container kingster-container">
                    <div class="kingster-page-title-content kingster-item-pdlr"
                        style="padding-top: 400px ;padding-bottom: 60px ;">
                        <div class="kingster-page-caption"
                            style="font-size: 21px ;font-weight: 400 ;letter-spacing: 0px ;">Undergraduate Program</div>
                        <h1 class="kingster-page-title"
                            style="font-size: 48px ;font-weight: 700 ;text-transform: none ;letter-spacing: 0px ;color: #ffffff ;">
                            Department of Textile Engineering (NBA Accredited)</h1>
                    </div>
                </div>
            </div>
            <div class="kingster-breadcrumbs">
                <div class="kingster-breadcrumbs-container kingster-container">
                    <div class="kingster-breadcrumbs-item kingster-item-pdlr"> <span property="itemListElement"
                            typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Kingster."
                                href="index.html" class="home"><span property="name">Home</span></a>
                            <meta property="position" content="1">
                        </span>&gt;<span property="itemListElement" typeof="ListItem"><span property="name">Department
                                of Textile Engineering (NBA Accredited)</span>
                            <meta property="position" content="2">
                        </span>
                    </div>
                </div>
            </div>
            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-sidebar-wrapper " style="margin: 0px 0px 30px 0px;">
                        <div
                            class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                            <div class="gdlr-core-pbf-sidebar-content gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left"
                                style="padding: 35px 0px 20px 0px;">
                                <div class="gdlr-core-pbf-sidebar-content-inner">
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                    style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                    Vision</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <p>
                                                    To become a nationally acclaimed department for providing quality
                                                    technical education in textile engineering and chemical processing.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                    style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                    Mission</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <ol>
                                                    <li>To provide excellent technical education in textile engineering
                                                        and chemical processing.</li>
                                                    <li>To provide relevant industrial exposure and placement to our
                                                        students.</li>
                                                    <li>To develop attitude, skill and ethical values in students, that
                                                        will enable them to meet socio economic challenges.</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                    style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                    Programme Educational Objectives (PEO)</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <ol type="1">
                                                    <li>To produce human resources having technical competencies so that
                                                        they can excel in professional career and/or higher education by
                                                        acquiring knowledge and skill in design, analysis, mathematical
                                                        computing and engineering principles.</li>
                                                    <li> To acquaint the students with real life problems through
                                                        internship, collaborative programmes with industry, project
                                                        works etc. so as to enable them to innovate programmatic,
                                                        creative and economic solutions for real life problems in
                                                        professional carriers.</li>
                                                    <li>To produce graduates, who are flexible and adaptable in the
                                                        workplace and to possess the capacity to embrace new
                                                        opportunities of emerging technologies, and embrace leadership
                                                        and all affording sustainable engineering careers.
                                                    </li>
                                                    <li>To enable students to exhibit professionalism, ethical attitude,
                                                        communication skills, team work in their profession and adapt to
                                                        current trends by engaging in lifelong learning.</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                    style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                    Program Outcomes (PO)</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <ol type="1">
                                                    <li>An ability to apply knowledge of mathematics, science, and
                                                        engineering;
                                                    </li>
                                                    <li>An ability to design and conduct experiments, as well as to
                                                        analyze and interpret data using techniques, hardware and
                                                        software tools for modern engineering applications;
                                                    </li>
                                                    <li>An ability to design a system, component, or process to meet
                                                        desired needs;
                                                    </li>
                                                    <li>An ability to function in multi-disciplinary teams;</li>
                                                    <li>An ability to identify, formulate, and solve Textile
                                                        engineering problems;
                                                    </li>
                                                    <li>An ability to use the techniques, skills, and modern engineering
                                                        tools necessary for textile engineering practice.</li>
                                                    <li>An ability to communicate effectively;</li>
                                                    <li>An ability in applying the communicative language skills and
                                                        professional knowledge to earn job opportunities in leading
                                                        textile organizations.
                                                    </li>
                                                    <li> An ability to recognize the need for and an ability to do
                                                        research and to engage in life-long learning;</li>
                                                    <li>An ability in learning professional, managerial, ethical and
                                                        environmental based principles to become good citizen of our
                                                        nation.</li>
                                                    <li>An ability to understand the impact of engineering solutions in
                                                        a global and societal context.</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <table width="97%" border="0" cellspacing="1" cellpadding="3" align="center" class="tblbdr">
                                        <div>&nbsp;</div>
                                        <form name="form1" method="post" action="/textile_engineering.php">
                                          <tr>

                                          </tr>
                                          <!--<tr><td>&nbsp;</td></tr>-->
                                                      <tr>
                                            <td colspan="3"><div align="center" class="thstyle" "><b>
                                            Head of the Department : &nbsp;
                                                      Dr.&nbsp;                &nbsp;Bibhu Prasad Dash				</b></div></td>
                                          </tr>

                                             <tr>
                                            <td colspan="3" height="8" ><img src="/images/spacer.gif" width="1" height="1" /></td>
                                          </tr>
                                                       <tr>
                                            <th colspan="3" class="thstyle"><b>Associate Professor</b></th>
                                          </tr>
                                                    <tr>
                                            <td width="33%" rowspan="2"  valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">

                                                        <b>
                                                        Dr.&nbsp;                          Bibhu Prasad Dash                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        B.Tech (Utkal University)
                              M.Tech (M.D. Univ.)
                              Ph.D. (IIT, Delhi)&nbsp;                          <br/></td>
                                                  </tr>
                                                </table>
                                                </td>
                                                <td rowspan="2" align="left" valign="top" class="tdborderBtm">Technical Textiles, Textile reinforced composites,3D Fabric, Fabric Manufacturing, <br />
                              Textile Testing& Evaluation,<br />
                              Nonwoven & Functional Textiles.<br />
                               <br />
                              <br />
                              E-mail: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="781a081c190b10381b1d0c561d1c0d561116">bpdash@cet.edu.in</a><br />
                              DOJ: 18/07/2000&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2"> Mob :9437385554			      			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>

                                                     <tr>
                                            <td colspan="3" height="8"><img src="/images/spacer.gif" width="1" height="1" /></td>
                                          </tr>
                                                      <tr>
                                            <th colspan="3" class="thstyle"><b>Assistant Professor</b></th>
                                          </tr>
                                                     <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Dr.&nbsp;                          Aswini Kumar Dash                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        B.Tech,Textile Engg (Utkal Univ.) M.Tech,Textile Engg(TITS-Bhiwani)
                              Ph.D(IIT Delhi),&nbsp;</td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">Technical Textiles, Textile Testing & Quality Control, Textile Composites, Clothing Science And Technology, Advanced Weaving and Nonwovens.<br />
                              <br />
                              E-mail: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="9efff5faffedf6defdfbeab0fbfaebb0f7f0"> akdash@cet.edu.in</a><br />
                              DOJ: 26/02/2001&nbsp;</td>
                                            <td valign="top" width="20%" class="tdborderBtm" rowspan="2"> Mob :9437449510			      			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                                     <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Dr.&nbsp;                          Asimananda Khandual                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        B.Tech (Utkal University)
                              M.Tech (ICT- Mumbai)
                              Ph.D. (ICT- Mumbai)
                              P.D.F (Poly Unversity, Hong Kong),&nbsp;</td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">Textile Chemical Processing<br />
                              Fiber Science & Technology<br />
                              Nano Technology<br />
                              Colour Physics.<br />
                              <br />
                              E-mail:<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6504160c081100250600114b0001104b0c0b">asimte@cet.edu.in</a><br />
                              DOJ: 25/03/2013&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2"> Mob :7381059050			      			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                                     <tr>
                                            <td colspan="3" height="8"><img src="/images/spacer.gif" width="1" height="1" /></td>
                                          </tr>
                                                      <tr>
                                            <td colspan="3" height="8"><img src="/images/spacer.gif" width="1" height="1" /></td>
                                          </tr>
                                                                  <tr>
                                            <th colspan="3"  class="thstyle"><b>Lecturer:</b></th>
                                          </tr>
                                                                  <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Mr.&nbsp;                          Sanat Kumar Sahoo                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        B.Tech (BPUT)
                              M.Tech(CU)&nbsp;</td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">Fabric Manufacturing Technical textiles<br />
                              Garment Manufacturing<br />
                              <br />
                              E-mail- <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1b687a757a6f706e767a69687a73747423225b7c767a727735787476">sanatkumarsahoo89@gmail.com </a>&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2"> Mob :9090200401			      			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                          <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                                      <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Ms.&nbsp;                          HimadriTanaya Mahanta                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        B.Tech (BPUT)
                              M.Tech(NIT,Jalandhar)&nbsp;</td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">Textile Chemical Processing<br />
                              Fabric Structure And Design<br />
                              <br />
                              <br />
                              E-mail:- <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="264e524748475f47171f1f1466414b474f4a0845494b">htanaya1992@gmail.com </a>&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2"> Mob :6371872573			      			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                          <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                                      <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Mr.&nbsp;                          Biswakalyan Swain                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        B.Tech (RTU Kota)
                              M.Tech(CU)&nbsp;</td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">Fabric Manufacturing<br />
                              Textile Testing<br />
                              <br />
                              E-mail:- <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="522125333b3c7c303b21253339333e2b333c6612353f333b3e7c313d3f">swain.biswakalyan4@gmail.com </a>&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2"> Mob :8599890641			      			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                          <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                                      <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Ms.&nbsp;                          Swagatika Giri                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        B.Tech (Utkal University)
                              M.Tech (BPUT)&nbsp;</td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">Chemical Processing<br />
                              Yarn Manufacturing<br />
                              <br />
                              E-mail:- <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="bed2d7cedfcdc9dfd9dfcad7d5dffed9d3dfd7d290ddd1d3">lipaswagatika@gmail.com </a>&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2"> Mob :7751993595			      			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                          <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                                      <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->

                                          <!-- <tr>
                                                      <td colspan="3" bgcolor="#DDDDDD">
                                                     <div align="right" class="gentxt"><a href="department.php?did=" class="generalLink"><b>Go to Department</b></a></div></td>
                                                    </tr>-->


                                        </form>
                                        </table></td>
                                                                      <td>&nbsp;</td>
                                                                    </tr>
                                                                  </table>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right kingster-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding gdlr-core-line-height"
                                style="padding: 35px 0px 30px 0px;">
                                <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
                                    <div id="text-18" class="widget widget_text kingster-widget">
                                        <div class="textwidget">
                                            <div class="gdlr-core-widget-box-shortcode "
                                                style="color: #ffffff ;padding: 30px 45px;background-color: #192f59 ;">
                                                <div class="gdlr-core-widget-box-shortcode-content">
                                                    </p>
                                                    <h3 style="font-size: 20px; color: #fff; margin-bottom: 25px;">
                                                        Department Contact Info</h3>
                                                    <p>
                                                        <span
                                                            style="color: #0082fa; font-size: 16px; font-weight: 600;">
                                                            Department of Textile Engineering (NBA Accredited)</span><br />
                                                        <span style="font-size: 15px;"><br />
                                                            College of Engineering and Technology<br />
                                                            Kalinga Nagar, Ghatikia, Bhubaneswar, Odisha 751003</span>
                                                    </p>
                                                    <p>
                                                        <span style="font-size: 15px;">+91-9437385554<br />
                                                            <a href="#"
                                                                class="__cf_email__"> bpdash@cet.edu.in</a><br />
                                                        </span>
                                                    </p>
                                                    <p>
                                                        <span style="font-size: 16px; color: #0082fa;">Mon &#8211; Sat
                                                            9:30A.M. &#8211; 5:30P.M.</span>
                                                    </p>
                                                    <span class="gdlr-core-space-shortcode"
                                                        style="margin-top: 40px ;"></span>
                                                    <h3 style="font-size: 20px; color: #fff; margin-bottom: 15px;">
                                                        Social Info</h3>
                                                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align"
                                                        style="padding-bottom: 0px ;">
                                                        <a href="#url" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="facebook"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-facebook"></i></a>
                                                        <a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="google-plus"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-google-plus"></i></a>
                                                        <a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="linkedin"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-linkedin"></i></a>
                                                        <a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="skype"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-skype"></i></a><a href="#url"
                                                            target="_blank" class="gdlr-core-social-network-icon"
                                                            title="twitter" style="color: #0082fa ;"
                                                            rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                                                        <a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="instagram"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-instagram"></i></a>
                                                    </div>
                                                    <span class="gdlr-core-space-shortcode"
                                                        style="margin-top: 40px ;"></span>
                                                    <a class="gdlr-core-button gdlr-core-button-shortcode gdlr-core-button-gradient gdlr-core-button-no-border"
                                                        href="#"
                                                        style="padding: 16px 27px 18px;margin-right: 20px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #0082fa ;"><span
                                                            class="gdlr-core-content">Student Resources</span></a>
                                                    <p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


{% endblock %}