{% extends "base.html" %}
{% load static %}

{% block body %}

<!--Body-->





            <div class="kingster-page-title-wrap  kingster-style-custom kingster-left-align"
                style="background-image: url({% static 'images/5.png' %}) ;">
                <div class="kingster-header-transparent-substitute"></div>
                <div class="kingster-page-title-overlay"></div>
                <div class="kingster-page-title-bottom-gradient"></div>
                <div class="kingster-page-title-container kingster-container">
                    <div class="kingster-page-title-content kingster-item-pdlr"
                        style="padding-top: 400px ;padding-bottom: 60px ;">
                        <div class="kingster-page-caption"
                            style="font-size: 21px ;font-weight: 400 ;letter-spacing: 0px ;">Undergraduate Program</div>
                        <h1 class="kingster-page-title"
                            style="font-size: 48px ;font-weight: 700 ;text-transform: none ;letter-spacing: 0px ;color: #ffffff ;">
                            Department of Information Technology</h1>
                    </div>
                </div>
            </div>
            <div class="kingster-breadcrumbs">
                <div class="kingster-breadcrumbs-container kingster-container">
                    <div class="kingster-breadcrumbs-item kingster-item-pdlr"> <span property="itemListElement"
                            typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Kingster."
                                href="index.html" class="home"><span property="name">Home</span></a>
                            <meta property="position" content="1">
                        </span>&gt;<span property="itemListElement" typeof="ListItem"><span property="name">Department
                                of Information Technology</span>
                            <meta property="position" content="2">
                        </span>
                    </div>
                </div>
            </div>
            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-sidebar-wrapper " style="margin: 0px 0px 30px 0px;">
                        <div
                            class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                            <div class="gdlr-core-pbf-sidebar-content gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left"
                                style="padding: 35px 0px 20px 0px;">
                                <div class="gdlr-core-pbf-sidebar-content-inner">
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                    style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                    Vision</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <p>
                                                    To establish the Department for attaining technical excellence
                                                    nationwide in the field of Information Technology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                    style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                    Mission</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <ol type="i">
                                                    <li>To groom the students to be technically competent and skilled
                                                        intellectual IT professionals.</li>
                                                    <li>To impart value-based education and enrich the knowledge of
                                                        students in the field of information technology.</li>
                                                    <li>To provide a platform to students for effective interaction with
                                                        industry and research community with new challenges.
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                    style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                    Programme Educational Objectives (PEO)</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <ol type="1">
                                                    <li>To create a suitable academic environment that promotes
                                                        innovation and excellence through the adoption of modern
                                                        teaching methods and fair practice.</li>
                                                    <li>To motivate the students to pursue diversified career options
                                                        applying the knowledge perceived.</li>
                                                    <li>To inculcate effective problem solving skills and teamwork
                                                        spirit in students so as to create a healthy work environment.
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                    style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                    Program Outcomes (PO)</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <ol type="1">
                                                    <li> To provide students with core competence in mathematics,
                                                        science and basic engineering fundamentals necessary to
                                                        formulate, analyze and solve engineering problems.
                                                    </li>
                                                    <li>To train students in core areas of Information Technology to
                                                        comprehend engineering tradeoffs, analyze, design, and
                                                        synthesize data and technical concepts to create novel products
                                                        and solutions for the real life problems.
                                                    </li>
                                                    <li>To inculcate in students effective oral and written
                                                        communication skills.</li>
                                                    <li>To identify, formulate, and solve hardware and software
                                                        computing problems.</li>
                                                    <li>To apply knowledge of computing and communication in the domain
                                                        of Information Technology.
                                                    </li>
                                                    <li>To design, implement and evaluate IT based system, to meet the
                                                        need of industry and society.</li>
                                                    <li>To effectively integrate IT based solution into the user
                                                        environment.</li>
                                                    <li>To work individually or as a member with responsibility to
                                                        function on multidisciplinary teams.</li>
                                                    <li>To understand professional, legal, and ethical issues and
                                                        responsibilities.</li>
                                                    <li>To demonstrate an ability to acquire new knowledge in the
                                                        computing discipline and to engage in lifelong learning.</li>
                                                    <li>To apply engineering and management knowledge and techniques to
                                                        estimate time and resources needed to complete a computer
                                                        engineering project.</li>
                                                    <li> To recognize the importance of professional development by
                                                        pursuing postgraduate studies or face competitive examinations
                                                        that offer challenging and rewarding careers in computing.</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                    style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                    About the Department</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <p>The Department of Computer Science & Engineering since its
                                                    introduction in 2001 has taken several steps towards development and
                                                    come a long way in establishing itself a department which commands
                                                    both respect and importance. It is equipped with sophisticated
                                                    laboratories and well qualified faculties who are not only
                                                    technically skilled but also professionally competent. Faculty
                                                    members have obtained recognition through publication at the
                                                    national and international level in the areas of neural networks,
                                                    pattern recognition and image processing etc. The chief co-ordinator
                                                    has undertaken the AICTE project on MODROB, Govt. Teacher’s training
                                                    program for Dept. of Higher Education. Govt. of Odisha. Apart from
                                                    classroom teaching, students are made adept in the sessional at the
                                                    digital logic design lab, microprocessor lab, computer network and
                                                    internet lab. The students have a 12-hour guide access to the
                                                    Internet lab and are given a free hand in using the services of
                                                    printers and scanners. The department also conducts seminars on a
                                                    regular basis which helps the students in keeping pace with recent
                                                    developments in the field of information science. The students of
                                                    this department have undertaken project assignments in developing
                                                    software for college timetable, student attendance registers,
                                                    library information system which helps them to gain practical
                                                    knowledge in real world problem. This Department offer M.Tech. in
                                                    Computer Science & Engineering since 2005-06 academic session. Under
                                                    TEQIP full time regular Ph.D. students are working. Alumnis are well
                                                    established throughout the globe.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <table width="97%" border="0" cellspacing="1" cellpadding="3" align="center" class="tblbdr">
                                        <div>&nbsp;</div>
                                        <form name="form1" method="post" action="/information_technology.php">
                                          <tr>

                                          </tr>
                                          <!--<tr><td>&nbsp;</td></tr>-->
                                                      <tr>
                                            <td colspan="3"><div align="center" class="thstyle"><b>
                                            Head of the Department : &nbsp;
                                                      Dr.&nbsp;                &nbsp;Ranjan Kumar Dash				</b></div></td>
                                          </tr>
                                                      <tr>
                                            <td colspan="3" height="8"><img src="/images/spacer.gif" width="1" height="1" /></td>
                                          </tr>

                                                                  <tr>
                                            <th colspan="3"  class="thstyle"><b>Lecturer:</b></th>
                                          </tr>
                                                                  <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Dr.&nbsp;                          Sanjit Kumar Dash                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        B.E. (BPUT) M.Tech. (SOA) Ph.D(Utkal Univ.), LMCSI&nbsp;</td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">Wireless Mobile Network, <br />
                              Wireless Sensor Network<br />
                              <br />
                              E-mail: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b0c3dbd4d1c3d8f0d3d5c49ed5d4c59ed9de">skdash@cet.edu.in </a>&nbsp;</td>
                                            <td width="20%" valign="top" rowspan="2" class="tdborderBtm"> Mob :9437990892			      			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                          <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                                      <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Dr.&nbsp;                          Sthitpragyan Mohanty                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        B.E (Utkal Univ.), M.Tech (BPUT),
                              Ph.D (BPUT)&nbsp;</td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">Soft Computing<br />
                              <br />
                              E-mail: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3f524c4b57564b5e4f4d5e58465e517f58525e5653115c5052">msthitapragyan@gmail.com </a>&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2"> Mob :9438180270			      			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                          <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                                      <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Dr.&nbsp;                          Subhadarshini Mohanty                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        B.Tech. CSE, BPUT M.Tech. (SOA University) Ph.D (SOA)&nbsp;</td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">Mobile Computing,<br />
                              Bioinformatics<br />
                              <br />
                              E-mail: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="2f5c4b4240474e415b564c5c4a6f4c4a5b014a4b5a014641">sdmohantycse@cet.edu.in</a>&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2"> Mob :8895348397			      			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                          <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                                      <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Mrs.&nbsp;                          Jayshree Dev                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        B.E. (U.U.) M.Tech. (BPUT)&nbsp;</td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">Soft Computing<br />
                              <br />
                              E-mail: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="117b204e752123516870797e7e3f727e3f787f">j1_d02@yahoo.co.in </a>&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2"> Mob :9437106071			      			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                          <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                                      <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Mr.&nbsp;                          Debi Prasad Mishra                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        B.Tech. (BPUT), M.Tech. (KIIT)&nbsp;</td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">Information Security, Web Technology<br />
                              <br />
                              E-mail: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="395d4954504a514b5817090e795e54585055175a5654">dpmishra.07@gmail.com </a>&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2"> Mob :9438435574			      			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                          <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                                      <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Mr.&nbsp;                          J. Chandrakanta Badajena                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        B.Tech., M.Tech. (BPUT)&nbsp;</td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">Computer & Network Security<br />
                              <br />
                              E-mail: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="46252e2728226825233206212b272f2a6825292b">chand.cet@gmail.com </a>&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2"> Mob :9861009135			      			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                          <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                                      <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Mrs.&nbsp;                          Rajalaxmi Padhy                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        B.Tech. (BPUT)&nbsp;</td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">E-mail: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c8b8a9aca0b1baa9a2a9a4a9b0a5a1f9fafb88afa5a9a1a4e6aba7a5">padhyrajalaxmi123@gmail.com </a>&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2"> Mob :9658243671			      			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                          <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                                      <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Ms.&nbsp;                          Debasmita Mishra                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        </td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2">&nbsp;			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                          <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                                      <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Ms.&nbsp;                          Rakshi Mahanta                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        </td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2">&nbsp;			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top" >&nbsp;</td>
                                          </tr>
                                          <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                                      <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Ms.&nbsp;                          Priyanka Panigrahi                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        B.Tech
                              M.Tech&nbsp;</td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">Cloud Computing&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2"> Mob :9692915900			      			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                          <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                                      <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Ms.&nbsp;                          Swati Lipsa                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        B.Tech., M.Tech. (BPUT)&nbsp;</td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">E-mail: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="2152564055484d4851524061464c40484d0f424e4c">swatilipsa@gmail.com </a>&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2"> Mob :9861309979			      			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                          <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                                      <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->

                                          <!-- <tr>
                                                      <td colspan="3" bgcolor="#DDDDDD">
                                                     <div align="right" class="gentxt"><a href="department.php?did=" class="generalLink"><b>Go to Department</b></a></div></td>
                                                    </tr>-->


                                        </form>
                                        </table></td>
                                                                    </tr>
                                                                  </table>
                                                                  <!-- InstanceEndEditable -->
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right kingster-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding gdlr-core-line-height"
                                style="padding: 35px 0px 30px 0px;">
                                <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
                                    <div id="text-18" class="widget widget_text kingster-widget">
                                        <div class="textwidget">
                                            <div class="gdlr-core-widget-box-shortcode "
                                                style="color: #ffffff ;padding: 30px 45px;background-color: #192f59 ;">
                                                <div class="gdlr-core-widget-box-shortcode-content">
                                                    </p>
                                                    <h3 style="font-size: 20px; color: #fff; margin-bottom: 25px;">
                                                        Department Contact Info</h3>
                                                    <p>
                                                        <span
                                                            style="color: #0082fa; font-size: 16px; font-weight: 600;">
                                                            Department of Information Technology</span><br />
                                                        <span style="font-size: 15px;"><br />
                                                            College of Engineering and Technology<br />
                                                            Kalinga Nagar, Ghatikia, Bhubaneswar, Odisha 751003</span>
                                                    </p>
                                                    <p>
                                                        <span style="font-size: 15px;">+91-Sample<br />
                                                            <a href="#"
                                                                class="__cf_email__">sample@cet.edu.in</a><br />
                                                        </span>
                                                    </p>
                                                    <p>
                                                        <span style="font-size: 16px; color: #0082fa;">Mon &#8211; Sat
                                                            9:30A.M. &#8211; 5:30P.M.</span>
                                                    </p>
                                                    <span class="gdlr-core-space-shortcode"
                                                        style="margin-top: 40px ;"></span>
                                                    <h3 style="font-size: 20px; color: #fff; margin-bottom: 15px;">
                                                        Social Info</h3>
                                                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align"
                                                        style="padding-bottom: 0px ;">
                                                        <a href="#url" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="facebook"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-facebook"></i></a>
                                                        <a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="google-plus"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-google-plus"></i></a>
                                                        <a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="linkedin"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-linkedin"></i></a>
                                                        <a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="skype"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-skype"></i></a><a href="#url"
                                                            target="_blank" class="gdlr-core-social-network-icon"
                                                            title="twitter" style="color: #0082fa ;"
                                                            rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                                                        <a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="instagram"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-instagram"></i></a>
                                                    </div>
                                                    <span class="gdlr-core-space-shortcode"
                                                        style="margin-top: 40px ;"></span>
                                                    <a class="gdlr-core-button gdlr-core-button-shortcode gdlr-core-button-gradient gdlr-core-button-no-border"
                                                        href="#"
                                                        style="padding: 16px 27px 18px;margin-right: 20px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #0082fa ;"><span
                                                            class="gdlr-core-content">Student Resources</span></a>
                                                    <p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

      {% endblock %}