{% extends "base.html" %}
{% load static %}

{% block body %}

<!--Body-->





            <div class="kingster-page-title-wrap  kingster-style-custom kingster-left-align" style="background-image: url({% static 'images/5.png' %}) ;">
                <div class="kingster-header-transparent-substitute"></div>
                <div class="kingster-page-title-overlay"></div>
                <div class="kingster-page-title-bottom-gradient"></div>
                <div class="kingster-page-title-container kingster-container">
                    <div class="kingster-page-title-content kingster-item-pdlr"
                        style="padding-top: 400px ;padding-bottom: 60px ;">
                        <div class="kingster-page-caption"
                            style="font-size: 21px ;font-weight: 400 ;letter-spacing: 0px ;">Undergraduate Program</div>
                        <h1 class="kingster-page-title"
                            style="font-size: 48px ;font-weight: 700 ;text-transform: none ;letter-spacing: 0px ;color: #ffffff ;">
                            Department of Architecture</h1>
                    </div>
                </div>
            </div>
            <div class="kingster-breadcrumbs">
                <div class="kingster-breadcrumbs-container kingster-container">
                    <div class="kingster-breadcrumbs-item kingster-item-pdlr"> <span property="itemListElement"
                            typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Kingster."
                                href="index.html" class="home"><span property="name">Home</span></a>
                            <meta property="position" content="1">
                        </span>&gt;<span property="itemListElement" typeof="ListItem"><span property="name">Department
                                of Architecture</span>
                            <meta property="position" content="2">
                        </span>
                    </div>
                </div>
            </div>
            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-sidebar-wrapper " style="margin: 0px 0px 30px 0px;">
                        <div
                            class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                            <div class="gdlr-core-pbf-sidebar-content gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left"
                                style="padding: 35px 0px 20px 0px;">
                                <div class="gdlr-core-pbf-sidebar-content-inner">
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                    style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                    About the Department</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <p> The plan of study of the Dept. of Architecture was established 1988
                                                    and provides an introduction in to the discipline of design and
                                                    physical planning in response to human needs, cultural values and
                                                    technological concerns. The students explore graphics in the state
                                                    of art computer labs equipped with software like AutoCAD 2005, 3d
                                                    max6 Draw12, Photoshop7 etc and display their works in the well
                                                    equipped studios and pore through an extensive collection of
                                                    magazines, journals. Facilities like modern scanners copiers, CAD
                                                    tools and complete photography lab are with in the reach of the
                                                    students. They work closely with a faculty specializing in urban
                                                    design, landscape architecture, city planning, architectural
                                                    conservation etc. In the past few years the dept has organized major
                                                    events like the national association of student of architecture
                                                    (NASA), Zonal NASA conventions and a Kodak sponsored workshop on the
                                                    Architecture Photography. Renowned architects of national repute and
                                                    distinguished professors among the leading technical institutes,
                                                    such as IIT, SPA, New Delhi visit the dept regularly to attend
                                                    seminars and conduct workshop. The students forum of the dept takes
                                                    active participation in the celebrating events like World
                                                    Photography Day, World Habitat Day, Earth Day etc. It also
                                                    exclusively maintains a frequently changing exhibits section. This
                                                    Department offer M.Arch. course.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <table width="97%" border="0" cellspacing="1" cellpadding="3" align="center"
                                        class="tblbdr">
                                        <div>&nbsp;</div>
                                        <form name="form1" method="post" action="/architecture_engineering.php">
                                            <!--<tr><td>&nbsp;</td></tr>-->
                                            <tr>
                                                <td colspan="3">
                                                    <div align="center" class="thstyle"><b>
                                                            Head of the Department : &nbsp;
                                                            Mr.&nbsp; &nbsp;Partha Pratim Karmakar </b></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" height="8"><img src="/images/spacer.gif" width="1"
                                                        height="1" /></td>
                                            </tr>
                                            <tr>
                                                <th colspan="3" class="thstyle"><b>Assistant Professor</b></th>
                                            </tr>
                                            <tr>
                                                <td width="33%" rowspan="2" valign="top" class="tdborderBtm">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                                        class="gentxt">
                                                        <tr>
                                                            <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                            <td width="70%" valign="top" align="left"> <b>
                                                                    Mr.&nbsp; Partha Pratim Karmakar
                                                                </b>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                                B.Arch. (JU)
                                                                M.Arch.(JU), AIIA,&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td rowspan="2" align="left" valign="top" class="tdborderBtm">Urban
                                                    Design (Housing)<br />
                                                    E-mail: <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                        data-cfemail="5b2b2b303a29363a303a291b383e2f753e3f2e753235">ppkarmakar@cet.edu.in</a>&nbsp;
                                                </td>
                                                <td  valign="top" class="tdborderBtm" rowspan="2"> Mob :9437101328 <br />
                                                    Res :674-2475497 </td>


                                            </tr>
                                            <tr>
                                                <td valign="top">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td width="33%" rowspan="2" valign="top" class="tdborderBtm">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                                        class="gentxt">
                                                        <tr>
                                                            <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                            <td width="70%" valign="top" align="left"> <b>
                                                                    Mr.&nbsp; Sangram Mohanty
                                                                </b>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                                B.Arch.(Kolhapur), M.arch.(CEPT, Ahmadabad),&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td rowspan="2" align="left" valign="top" class="tdborderBtm">Landscape
                                                    Architecture<br />
                                                    e-mail:<a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                        data-cfemail="3546545b5247545858755258545c591b565a58">sangramm@gmail.com</a>&nbsp;
                                                </td>
                                                <td valign="top" class="tdborderBtm" rowspan="2"> Mob :9338202668 <br />
                                                    &nbsp;</td>


                                            </tr>
                                            <tr>
                                                <td valign="top">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" height="8"><img src="/images/spacer.gif" width="1"
                                                        height="1" /></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" height="8"><img src="/images/spacer.gif" width="1"
                                                        height="1" /></td>
                                            </tr>
                                            <tr>
                                                <th colspan="3" class="thstyle"><b>Lecturer:</b></th>
                                            </tr>
                                            <tr>
                                                <td width="33%" rowspan="2" valign="top" class="tdborderBtm">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                                        class="gentxt">
                                                        <tr>
                                                            <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                            <td width="70%" valign="top" align="left"> <b>
                                                                    Ms.&nbsp; Sarojini Mahala
                                                                </b>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                                M.Arch&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td rowspan="2" align="left" valign="top" class="tdborderBtm">&nbsp;
                                                </td>
                                                <td valign="top" class="tdborderBtm" rowspan="2">&nbsp; <br />
                                                    &nbsp;</td>


                                            </tr>
                                            <tr>
                                                <td valign="top">&nbsp;</td>
                                            </tr>
                                            <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                            <tr>
                                                <td width="33%" rowspan="2" valign="top" class="tdborderBtm">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                                        class="gentxt">
                                                        <tr>
                                                            <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                            <td width="70%" valign="top" align="left"> <b>
                                                                    Ms.&nbsp; Sabita Kumari Padhy
                                                                </b>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                                B.Arch&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td rowspan="2" align="left" valign="top" class="tdborderBtm">&nbsp;
                                                </td>
                                                <td valign="top" class="tdborderBtm" rowspan="2">&nbsp; <br />
                                                    &nbsp;</td>


                                            </tr>
                                            <tr>
                                                <td valign="top">&nbsp;</td>
                                            </tr>
                                            <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                            <tr>
                                                <td width="33%" rowspan="2" valign="top" class="tdborderBtm">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                                        class="gentxt">
                                                        <tr>
                                                            <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                            <td width="70%" valign="top" align="left"> <b>
                                                                    Mr.&nbsp; Asit Kumar Rout
                                                                </b>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                                B.Arch&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td rowspan="2" align="left" valign="top" class="tdborderBtm">&nbsp;
                                                </td>
                                                <td valign="top" class="tdborderBtm" rowspan="2">&nbsp; <br />
                                                    &nbsp;</td>


                                            </tr>
                                            <tr>
                                                <td valign="top">&nbsp;</td>
                                            </tr>
                                            <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                            <tr>
                                                <td width="33%" rowspan="2" valign="top" class="tdborderBtm">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                                        class="gentxt">
                                                        <tr>
                                                            <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                            <td width="70%" valign="top" align="left"> <b>
                                                                    Ms.&nbsp; Rasmita Dash
                                                                </b>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                                B.Arch&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td rowspan="2" align="left" valign="top" class="tdborderBtm">&nbsp;
                                                </td>
                                                <td valign="top" class="tdborderBtm" rowspan="2">&nbsp; <br />
                                                    &nbsp;</td>


                                            </tr>
                                            <tr>
                                                <td valign="top">&nbsp;</td>
                                            </tr>
                                            <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                            <tr>
                                                <td width="33%" rowspan="2" valign="top" class="tdborderBtm">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                                        class="gentxt">
                                                        <tr>
                                                            <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                            <td width="70%" valign="top" align="left"> <b>
                                                                    Mr.&nbsp; Chinmay Parida
                                                                </b>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                                B.Arch&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td rowspan="2" align="left" valign="top" class="tdborderBtm">&nbsp;
                                                </td>
                                                <td valign="top" class="tdborderBtm" rowspan="2">&nbsp; <br />
                                                    &nbsp;</td>


                                            </tr>
                                            <tr>
                                                <td valign="top">&nbsp;</td>
                                            </tr>
                                        </form>
                                    </table>
                                    </td>
                                    </tr>
                                    </table>

                                    <!-- InstanceEndEditable -->
                                    </td>
                                    </tr>
                                    </table>
                                    </td>
                                    </tr>
                                    </table>
                                    </td>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right kingster-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding gdlr-core-line-height"
                                style="padding: 35px 0px 30px 0px;">
                                <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
                                    <div id="text-18" class="widget widget_text kingster-widget">
                                        <div class="textwidget">
                                            <div class="gdlr-core-widget-box-shortcode "
                                                style="color: #ffffff ;padding: 30px 45px;background-color: #192f59 ;">
                                                <div class="gdlr-core-widget-box-shortcode-content">
                                                    </p>
                                                    <h3 style="font-size: 20px; color: #fff; margin-bottom: 25px;">
                                                        Department Contact Info</h3>
                                                    <p>
                                                        <span
                                                            style="color: #0082fa; font-size: 16px; font-weight: 600;">
                                                            Department of Architecture</span><br />
                                                        <span style="font-size: 15px;"><br />
                                                            College of Engineering and Technology<br />
                                                            Kalinga Nagar, Ghatikia, Bhubaneswar, Odisha 751003</span>
                                                    </p>
                                                    <p>
                                                        <span style="font-size: 15px;">+91-9437101328<br />
                                                            <a href="#"
                                                                class="__cf_email__">ppkarmakar@cet.edu.in</a><br />
                                                        </span>
                                                    </p>
                                                    <p>
                                                        <span style="font-size: 16px; color: #0082fa;">Mon &#8211; Sat
                                                            9:30A.M. &#8211; 5:30P.M.</span>
                                                    </p>
                                                    <span class="gdlr-core-space-shortcode"
                                                        style="margin-top: 40px ;"></span>
                                                    <h3 style="font-size: 20px; color: #fff; margin-bottom: 15px;">
                                                        Social Info</h3>
                                                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align"
                                                        style="padding-bottom: 0px ;">
                                                        <a href="#url" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="facebook"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-facebook"></i></a>
                                                        <a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="google-plus"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-google-plus"></i></a>
                                                        <a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="linkedin"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-linkedin"></i></a>
                                                        <a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="skype"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-skype"></i></a><a href="#url"
                                                            target="_blank" class="gdlr-core-social-network-icon"
                                                            title="twitter" style="color: #0082fa ;"
                                                            rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                                                        <a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="instagram"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-instagram"></i></a>
                                                    </div>
                                                    <span class="gdlr-core-space-shortcode"
                                                        style="margin-top: 40px ;"></span>
                                                    <a class="gdlr-core-button gdlr-core-button-shortcode gdlr-core-button-gradient gdlr-core-button-no-border"
                                                        href="#"
                                                        style="padding: 16px 27px 18px;margin-right: 20px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #0082fa ;"><span
                                                            class="gdlr-core-content">Student Resources</span></a>
                                                    <p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}