{% extends "base.html" %}
{% load static %}

{% block body %}

<!--Body-->





            <div class="kingster-page-title-wrap  kingster-style-custom kingster-left-align"
                style="background-image: url({% static 'images/5.png' %}) ;">
                <div class="kingster-header-transparent-substitute"></div>
                <div class="kingster-page-title-overlay"></div>
                <div class="kingster-page-title-bottom-gradient"></div>
                <div class="kingster-page-title-container kingster-container">
                    <div class="kingster-page-title-content kingster-item-pdlr"
                        style="padding-top: 400px ;padding-bottom: 60px ;">
                        <div class="kingster-page-caption"
                            style="font-size: 21px ;font-weight: 400 ;letter-spacing: 0px ;">Undergraduate Program</div>
                        <h1 class="kingster-page-title"
                            style="font-size: 48px ;font-weight: 700 ;text-transform: none ;letter-spacing: 0px ;color: #ffffff ;">
                            Department of Fashion & Apparel Technology</h1>
                    </div>
                </div>
            </div>
            <div class="kingster-breadcrumbs">
                <div class="kingster-breadcrumbs-container kingster-container">
                    <div class="kingster-breadcrumbs-item kingster-item-pdlr"> <span property="itemListElement"
                            typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Kingster."
                                href="index.html" class="home"><span property="name">Home</span></a>
                            <meta property="position" content="1">
                        </span>&gt;<span property="itemListElement" typeof="ListItem"><span property="name">Department
                                of Fashion & Apparel Technology</span>
                            <meta property="position" content="2">
                        </span>
                    </div>
                </div>
            </div>
            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-sidebar-wrapper " style="margin: 0px 0px 30px 0px;">
                        <div
                            class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                            <div class="gdlr-core-pbf-sidebar-content gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left"
                                style="padding: 35px 0px 20px 0px;">
                                <div class="gdlr-core-pbf-sidebar-content-inner">
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                    style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                    About the Department</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div
                                            class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content"
                                                style="font-size: 16px ;text-transform: none ;">
                                                <p> College of Engineering & Technology (CET), one of the leading
                                                    Technical institution of Eastern Part of India have a reputation of
                                                    producing world-class engineers. Looking at the enormous potential
                                                    of Garment & Fashion Designing in the present century, CET has well
                                                    planned in this race by adding a new dimension by introducing B.
                                                    Tech course in Fashion Technology in to its credit with a vision to
                                                    exploit and expose the creativity of young talented Fashion
                                                    Technocrats in the globe. The unique Traditional designs of Garments
                                                    & Lifestyle of India have been greatly appreciated globally. In this
                                                    context Fashion Designers have a great role to play. Department of
                                                    fashion Technology is one of the leading department of college of
                                                    engineering and Technology. The design of the course structure aims
                                                    at producing highly trained professionals, who will have the right
                                                    expertise to guide the garment industry for using high technology
                                                    and better designing skills, consistency in product quality, price
                                                    and services, which have a great bearing on importers as well as
                                                    home markets. Also the constant interaction with the garment
                                                    industry instills in the students, the confidence in their own
                                                    ability to keep up with the competitive industrial world.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <table width="97%" border="0" cellspacing="1" cellpadding="3" align="center" class="tblbdr">
                                        <div>&nbsp;</div>
                                        <form name="form1" method="post" action="/fashion_apparel_technology.php">
                                          <!--<tr><td>&nbsp;</td></tr>-->
                                                      <tr>
                                            <td colspan="3"><div align="center" class="thstyle"><b>
                                            Head of the Department : &nbsp;
                                                      Mr.&nbsp;                &nbsp;Aswini Kumar Das				</b></div></td>
                                          </tr>
                                                     <tr>
                                            <td colspan="3" height="8"><img src="/images/spacer.gif" width="1" height="1" /></td>
                                          </tr>
                                                      <tr>
                                            <th colspan="3"  class="thstyle"><b>Assistant Professor</b></th>
                                          </tr>
                                                     <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Mr.&nbsp;Madhaba Nanda Pattanaik</b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        M.Tech.,&nbsp;</td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">Textile Engineering<br />
                              <br />
                              E-mail: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a3cecdd3c2d7d7c2cdc2cac8e3c0c6d78dc6c7d68dcacd">mnpattanaik@cet.edu.in </a>&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2"> Mob :9437131796			      			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                                     <tr>
                                            <td colspan="3" height="8"><img src="/images/spacer.gif" width="1" height="1" /></td>
                                          </tr>
                                                                  <tr>
                                            <th colspan="3"  class="thstyle"><b>Lecturer:</b></th>
                                          </tr>
                                                                  <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Mrs.&nbsp;Bijaylaxmi Sahu</b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        B.Tech. (BPUT)&nbsp;</td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">Fashion Technology<br />
                              <br />
                              E-mail: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f5979c9f948c99948d989cdb969081b59298949c99db969a98"> bijaylaxmi.cet@gmail.com </a>&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2" > Mob :9337448088			      			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                          <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                                      <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Mrs.&nbsp;Madhusmita Das</b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        B.Tech.&nbsp;</td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">Textile Engg.<br />
                              <br />
                              E-mail: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e68b87828e93958b8f9287c8858392a6818b878f8ac885898b">madhusmita.cet@gmail.com </a>&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2"> Mob :8908541775			      			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>
                                          <!-- <tr>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="2%"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                      <td height="4" width="49%" valign="top"><img src="/images/spacer.gif" width="1" height="1"></td>
                                                    </tr>-->
                                                      <tr>
                                            <td width="33%" rowspan="2" valign="top" class="tdborderBtm">                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gentxt">
                                                  <tr>
                                                    <!--<td width="30%" align="left" valign="top">
                                                                                            <img src="" width="60" height="70" border="1" />
                                                              <img src="images/no_photo.jpg" width="60" height="70" border="1" /></td>-->
                                                    <td width="70%" valign="top" align="left">                          <b>
                                                        Ms.&nbsp;                          Kirti Ghosh                          </b>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                                        B.Tech. (BPUT)&nbsp;</td>
                                                  </tr>
                                                </table>
                                                </td>
                                            <td rowspan="2" align="left" valign="top" class="tdborderBtm">Fashion Technology<br />
                              <br />
                              E-mail: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c8a3a1babca1afa0a7bba0f9f1f0f188afa5a9a1a4e6aba7a5">kirtighosh1989@gmail.com</a>&nbsp;</td>
                                            <td valign="top" class="tdborderBtm" rowspan="2"> Mob :9040175399			      			  <br/>
                                            &nbsp;</td>


                                          </tr>
                                          <tr>
                                            <td valign="top">&nbsp;</td>
                                          </tr>


                                        </form>
                                        </table>			</td>
                                        </tr>
                                      </table>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right kingster-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding gdlr-core-line-height"
                                style="padding: 35px 0px 30px 0px;">
                                <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
                                    <div id="text-18" class="widget widget_text kingster-widget">
                                        <div class="textwidget">
                                            <div class="gdlr-core-widget-box-shortcode "
                                                style="color: #ffffff ;padding: 30px 45px;background-color: #192f59 ;">
                                                <div class="gdlr-core-widget-box-shortcode-content">
                                                    </p>
                                                    <h3 style="font-size: 20px; color: #fff; margin-bottom: 25px;">
                                                        Department Contact Info</h3>
                                                    <p>
                                                        <span
                                                            style="color: #0082fa; font-size: 16px; font-weight: 600;">
                                                            Department of Fashion & Apparel Technology</span><br />
                                                        <span style="font-size: 15px;"><br />
                                                            College of Engineering and Technology<br />
                                                            Kalinga Nagar, Ghatikia, Bhubaneswar, Odisha 751003</span>
                                                    </p>
                                                    <p>
                                                        <span style="font-size: 15px;">+91-sample<br />
                                                            <a href="#"
                                                                class="__cf_email__"> sample@cet.edu.in  </a><br />
                                                        </span>
                                                    </p>
                                                    <p>
                                                        <span style="font-size: 16px; color: #0082fa;">Mon &#8211; Sat
                                                            9:30A.M. &#8211; 5:30P.M.</span>
                                                    </p>
                                                    <span class="gdlr-core-space-shortcode"
                                                        style="margin-top: 40px ;"></span>
                                                    <h3 style="font-size: 20px; color: #fff; margin-bottom: 15px;">
                                                        Social Info</h3>
                                                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align"
                                                        style="padding-bottom: 0px ;">
                                                        <a href="#url" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="facebook"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-facebook"></i></a>
                                                        <a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="google-plus"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-google-plus"></i></a>
                                                        <a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="linkedin"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-linkedin"></i></a>
                                                        <a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="skype"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-skype"></i></a><a href="#url"
                                                            target="_blank" class="gdlr-core-social-network-icon"
                                                            title="twitter" style="color: #0082fa ;"
                                                            rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                                                        <a href="#" target="_blank"
                                                            class="gdlr-core-social-network-icon" title="instagram"
                                                            style="color: #0082fa ;" rel="noopener noreferrer"><i
                                                                class="fa fa-instagram"></i></a>
                                                    </div>
                                                    <span class="gdlr-core-space-shortcode"
                                                        style="margin-top: 40px ;"></span>
                                                    <a class="gdlr-core-button gdlr-core-button-shortcode gdlr-core-button-gradient gdlr-core-button-no-border"
                                                        href="#"
                                                        style="padding: 16px 27px 18px;margin-right: 20px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #0082fa ;"><span
                                                            class="gdlr-core-content">Student Resources</span></a>
                                                    <p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

         {% endblock %}