



{% extends "base.html" %}
{% load static %}

{% block body %}

<!--Body-->










            <div class="kingster-page-title-wrap  kingster-style-custom kingster-left-align" id="div_983a_0">
                <div class="kingster-header-transparent-substitute"></div>
                <div class="kingster-page-title-overlay"></div>
                <div class="kingster-page-title-bottom-gradient"></div>
                <div class="kingster-page-title-container kingster-container">
                    <div class="kingster-page-title-content kingster-item-pdlr" id="div_983a_1">
                        <h1 class="kingster-page-title" id="h1_983a_0">Autonomous:Exam Schedule</h1></div>
                </div>
            </div>
            <div class="kingster-breadcrumbs">
                <div class="kingster-breadcrumbs-container kingster-container">
                    <div class="kingster-breadcrumbs-item kingster-item-pdlr"> <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Kingster." href="index.html" class="home"><span property="name">Home</span></a>
                        <meta property="position" content="1">
                        </span>&gt;<span property="itemListElement" typeof="ListItem"><span property="name">Autonomous:Exam Schedule</span>
                        <meta property="position" content="2">
                        </span>
                    </div>
                </div>
            </div>
            <div class="autonomous-tiles">
                <a href="{% url 'UGExamSchedule' %}" class="custom-tile">UG</a>
              <a href="{% url 'PGExamSchedule' %}" class='custom-tile'>PG</a>
            </div>









<br>



{% endblock %}