
{% load static %}



{% if user.is_authenticated %}
						<div>
							<span class="nav-link text-white">Hellooo : {{ user.username }}</span>


							<span class="nav-link text-white"> <a href="{% url 'superuser_logout' %}" style="color: red;">Logout</a> Here</span>
                        </div>


{% endif %}



<html lang="en-US" class="no-js kingster-mmenu-right">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


       <link rel='stylesheet' href="{% static 'plugins/goodlayers-core/plugins/combine/style.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'plugins/goodlayers-core/include/css/page-builder.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'plugins/revslider/public/assets/css/settings.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/style-core.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/kingster-style-custom.css' %}" type='text/css' media='all' />

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />

</head>
<body>
            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="gdlr-core-page-builder-body">

                    <div class="gdlr-core-pbf-wrapper " style="padding: 90px 0px 10px 0px;">
                        <div class="gdlr-core-pbf-background-wrap"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">




                                <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first" data-skin="Green Title">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-top gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 2px;">
                                                    <div class="gdlr-core-column-service-content-wrapper">
                                                        <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 22px ;">
                                                            <h3 class="gdlr-core-column-service-title gdlr-core-skin-title" style="font-size: 19px ;font-weight: 600 ;text-transform: none ;">Notice Board</h3></div>
                                                        <div class="gdlr-core-column-service-content" style="font-size: 16px ;text-transform: none ;">
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"><a class="gdlr-core-button  gdlr-core-button-transparent gdlr-core-button-no-border" href="{% url 'adminNoticeUI' %}" style="font-size: 16px ;font-weight: 400 ;letter-spacing: 0px ;color: #3db166 ;padding: 0px 0px 0px 0px;text-transform: none ;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;"><span class="gdlr-core-content">Click here</span><i class="gdlr-core-pos-right arrow_right" style="font-size: 21px ;color: #3db166 ;"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <div class="gdlr-core-pbf-column gdlr-core-column-20" data-skin="Green Title">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-top gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 2px;">
                                                    <div class="gdlr-core-column-service-content-wrapper">
                                                        <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 22px ;">
                                                            <h3 class="gdlr-core-column-service-title gdlr-core-skin-title" style="font-size: 19px ;font-weight: 600 ;text-transform: none ;">Faculty</h3></div>
                                                        <div class="gdlr-core-column-service-content" style="font-size: 16px ;text-transform: none ;">
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"><a class="gdlr-core-button  gdlr-core-button-transparent gdlr-core-button-no-border" href="{% url 'adminFacultyUI' %}" style="font-size: 16px ;font-weight: 400 ;letter-spacing: 0px ;color: #3db166 ;padding: 0px 0px 0px 0px;text-transform: none ;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;"><span class="gdlr-core-content">Click here</span><i class="gdlr-core-pos-right arrow_right" style="font-size: 21px ;color: #3db166 ;"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first" data-skin="Green Title">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-top gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 2px;">
                                                    <div class="gdlr-core-column-service-content-wrapper">
                                                        <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 22px ;">
                                                            <h3 class="gdlr-core-column-service-title gdlr-core-skin-title" style="font-size: 19px ;font-weight: 600 ;text-transform: none ;">Events</h3></div>
                                                        <div class="gdlr-core-column-service-content" style="font-size: 16px ;text-transform: none ;">
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"><a class="gdlr-core-button  gdlr-core-button-transparent gdlr-core-button-no-border" href="{% url 'adminEventsUI' %}" style="font-size: 16px ;font-weight: 400 ;letter-spacing: 0px ;color: #3db166 ;padding: 0px 0px 0px 0px;text-transform: none ;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;"><span class="gdlr-core-content">Click here</span><i class="gdlr-core-pos-right arrow_right" style="font-size: 21px ;color: #3db166 ;"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <div class="gdlr-core-pbf-column gdlr-core-column-20" data-skin="Green Title">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-top gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 2px;">
                                                    <div class="gdlr-core-column-service-content-wrapper">
                                                        <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 22px ;">
                                                            <h3 class="gdlr-core-column-service-title gdlr-core-skin-title" style="font-size: 19px ;font-weight: 600 ;text-transform: none ;">Result</h3></div>
                                                        <div class="gdlr-core-column-service-content" style="font-size: 16px ;text-transform: none ;">
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"><a class="gdlr-core-button  gdlr-core-button-transparent gdlr-core-button-no-border" href="{% url 'adminResultUI' %}" style="font-size: 16px ;font-weight: 400 ;letter-spacing: 0px ;color: #3db166 ;padding: 0px 0px 0px 0px;text-transform: none ;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;"><span class="gdlr-core-content">Click here</span><i class="gdlr-core-pos-right arrow_right" style="font-size: 21px ;color: #3db166 ;"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                       <div class="gdlr-core-pbf-column gdlr-core-column-20" data-skin="Green Title">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-top gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 2px;">
                                                    <div class="gdlr-core-column-service-content-wrapper">
                                                        <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 22px ;">
                                                            <h3 class="gdlr-core-column-service-title gdlr-core-skin-title" style="font-size: 19px ;font-weight: 600 ;text-transform: none ;">Career</h3></div>
                                                        <div class="gdlr-core-column-service-content" style="font-size: 16px ;text-transform: none ;">
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"><a class="gdlr-core-button  gdlr-core-button-transparent gdlr-core-button-no-border" href="{% url 'adminCareerUI' %}" style="font-size: 16px ;font-weight: 400 ;letter-spacing: 0px ;color: #3db166 ;padding: 0px 0px 0px 0px;text-transform: none ;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;"><span class="gdlr-core-content">Click here</span><i class="gdlr-core-pos-right arrow_right" style="font-size: 21px ;color: #3db166 ;"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                       <div class="gdlr-core-pbf-column gdlr-core-column-20" data-skin="Green Title">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-top gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 2px;">
                                                    <div class="gdlr-core-column-service-content-wrapper">
                                                        <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 22px ;">
                                                            <h3 class="gdlr-core-column-service-title gdlr-core-skin-title" style="font-size: 19px ;font-weight: 600 ;text-transform: none ;">Tender</h3></div>
                                                        <div class="gdlr-core-column-service-content" style="font-size: 16px ;text-transform: none ;">
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"><a class="gdlr-core-button  gdlr-core-button-transparent gdlr-core-button-no-border" href="{% url 'adminTenderUI' %}" style="font-size: 16px ;font-weight: 400 ;letter-spacing: 0px ;color: #3db166 ;padding: 0px 0px 0px 0px;text-transform: none ;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;"><span class="gdlr-core-content">Click here</span><i class="gdlr-core-pos-right arrow_right" style="font-size: 21px ;color: #3db166 ;"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
























                            </div>
                        </div>
                    </div>


                </div>
            </div>



	<script type="text/javascript" src="{% static 'js/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/jquery-migrate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/goodlayers-core/plugins/combine/script.js' %}"></script>
    <script type="text/javascript">
        var gdlr_core_pbf = {
            "admin": "",
            "video": {
                "width": "640",
                "height": "360"
            },
            "ajax_url": "#"
        };
    </script>
    <script type="text/javascript" src="{% static 'plugins/goodlayers-core/include/js/page-builder.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/ui/effect.min.js' %}"></script>
    <script type="text/javascript">
        var kingster_script_core = {
            "home_url": "index.html"
        };
    </script>
    <script type="text/javascript" src="{% static 'js/plugins.min.js' %}"></script>


    </body>
</html>