



{% extends "base.html" %}
{% load static %}

{% block body %}

<!--Body-->




            <div class="kingster-page-title-wrap  kingster-style-medium kingster-left-align">
                <div class="kingster-header-transparent-substitute"></div>
                <div class="kingster-page-title-overlay"></div>
                <div class="kingster-page-title-container kingster-container">
                    <div class="kingster-page-title-content kingster-item-pdlr">
                        <h1 class="kingster-page-title">PG Exam Schedule</h1></div>
                </div>
            </div>
            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-wrapper ">
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">


                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-event-item gdlr-core-item-pdb">
                                        <div class="gdlr-core-event-item-holder clearfix">






                                            <div class="gdlr-core-event-item-list gdlr-core-style-grid gdlr-core-item-pdlr   clearfix" style="margin-bottom: 45px ;">
                                                <div class="gdlr-core-event-item-thumbnail">
<!--                                                    <a href="#"><img src="upload/fancycrave-270977-unsplash-400x257.jpg" width="700" height="450"  alt="" /></a>-->
                                                </div>
                                                <span class="gdlr-core-event-item-info gdlr-core-type-start-date-month">
                                                <span class="gdlr-core-date" >8</span>
                                                <span class="gdlr-core-month">Sep 2020</span>
                                                </span>

                                                <div class="gdlr-core-event-item-content-wrap">
                                                    <h3 class="gdlr-core-event-item-title">4th Sem PG Regular</h3>
                                                    <div class="gdlr-core-event-item-info-wrap">

                                                        <span class="gdlr-core-event-item-info gdlr-core-type-time">
                                                        <span class="gdlr-core-head" ><i class="icon_clock_alt" ></i></span>
                                                        <span class="gdlr-core-tail">10:00 am</span>
                                                        </span>

                                                        <span class="gdlr-core-event-item-info gdlr-core-type-location">
<!--                                                            <span class="gdlr-core-head" ><i class="icon_pin_alt" ></i></span>-->
                                                            <span class="gdlr-core-tail"><a download="notice.docx" href="https://www.cet.edu.in/autonomousfiles/B.Tech,B.%20plan%20&%20Int.%20M.Sc.pdf">4th Sem PG Regular</a></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>




                                              <div class="gdlr-core-event-item-list gdlr-core-style-grid gdlr-core-item-pdlr   clearfix" style="margin-bottom: 45px ;">
                                                <div class="gdlr-core-event-item-thumbnail">
<!--                                                    <a href="#"><img src="upload/fancycrave-270977-unsplash-400x257.jpg" width="700" height="450"  alt="" /></a>-->
                                                </div>
                                                <span class="gdlr-core-event-item-info gdlr-core-type-start-date-month">
                                                <span class="gdlr-core-date" >27</span>
                                                <span class="gdlr-core-month">Aug 2020</span>
                                                </span>

                                                <div class="gdlr-core-event-item-content-wrap">
                                                    <h3 class="gdlr-core-event-item-title">2nd Semester Back Paper Schedule_B.Arch_BPlan_Int Msc_MTech_MPlan(2017 Batch)</h3>
                                                    <div class="gdlr-core-event-item-info-wrap">

                                                        <span class="gdlr-core-event-item-info gdlr-core-type-time">
                                                        <span class="gdlr-core-head" ><i class="icon_clock_alt" ></i></span>
                                                        <span class="gdlr-core-tail">11:00 am</span>
                                                        </span>

                                                        <span class="gdlr-core-event-item-info gdlr-core-type-location">
<!--                                                            <span class="gdlr-core-head" ><i class="icon_pin_alt" ></i></span>-->
                                                            <span class="gdlr-core-tail">
                                                                <a download="notice.docx" href="https://www.cet.edu.in/autonomousfiles/2nd%20Semester%20Back%20Paper%20Schedule_B.Arch_BPlan_Int%20Msc_MTech_MPlan(2017%20Batch).pdf">
                                                                2nd Semester Back Paper Schedule_B.Arch_BPlan_Int Msc_MTech_MPlan(2017 Batch) </a></span>
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>






                                              <div class="gdlr-core-event-item-list gdlr-core-style-grid gdlr-core-item-pdlr   clearfix" style="margin-bottom: 45px ;">
                                                <div class="gdlr-core-event-item-thumbnail">
<!--                                                    <a href="#"><img src="upload/fancycrave-270977-unsplash-400x257.jpg" width="700" height="450"  alt="" /></a>-->
                                                </div>
                                                <span class="gdlr-core-event-item-info gdlr-core-type-start-date-month">
                                                <span class="gdlr-core-date" >24</span>
                                                <span class="gdlr-core-month">Aug 2020</span>
                                                </span>

                                                <div class="gdlr-core-event-item-content-wrap">
                                                    <h3 class="gdlr-core-event-item-title">2nd Sem Regular & Back Examination Schedule 2019-20</h3>
                                                    <div class="gdlr-core-event-item-info-wrap">

                                                        <span class="gdlr-core-event-item-info gdlr-core-type-time">
                                                        <span class="gdlr-core-head" ><i class="icon_clock_alt" ></i></span>
                                                        <span class="gdlr-core-tail">1:00 pm</span>
                                                        </span>

                                                        <span class="gdlr-core-event-item-info gdlr-core-type-location">
<!--                                                            <span class="gdlr-core-head" ><i class="icon_pin_alt" ></i></span>-->
                                                            <span class="gdlr-core-tail">
                                                                <a download="notice.docx" href="https://www.cet.edu.in/autonomousfiles/2nd%20Senester%20M.%20Tech,%20MCA%20,%20M.Sc,%20Int.%20M.Sc,%20M.Plan%20(1).pdf">
                                                         2nd Semester Regular & Back Examination Schedule 2019-20 for M.Tech. MCA, M.Sc, Int. M.Sc. and M.Plan programme
</a></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>


                                           <div class="gdlr-core-event-item-list gdlr-core-style-grid gdlr-core-item-pdlr   clearfix" style="margin-bottom: 45px ;">
                                                <div class="gdlr-core-event-item-thumbnail">
<!--                                                    <a href="#"><img src="upload/fancycrave-270977-unsplash-400x257.jpg" width="700" height="450"  alt="" /></a>-->
                                                </div>
                                                <span class="gdlr-core-event-item-info gdlr-core-type-start-date-month">
                                                <span class="gdlr-core-date" >20</span>
                                                <span class="gdlr-core-month">Aug 2020</span>
                                                </span>

                                                <div class="gdlr-core-event-item-content-wrap">
                                                    <h3 class="gdlr-core-event-item-title">
ONLINE 4TH SEMESTER EXAM MSC MPLAN COURSE</h3>
                                                    <div class="gdlr-core-event-item-info-wrap">

                                                        <span class="gdlr-core-event-item-info gdlr-core-type-time">
                                                        <span class="gdlr-core-head" ><i class="icon_clock_alt" ></i></span>
                                                        <span class="gdlr-core-tail">1:00 pm</span>
                                                        </span>

                                                        <span class="gdlr-core-event-item-info gdlr-core-type-location">
<!--                                                            <span class="gdlr-core-head" ><i class="icon_pin_alt" ></i></span>-->
                                                            <span class="gdlr-core-tail">
                                                                <a download="notice.docx" href="https://www.cet.edu.in/autonomousfiles/ONLINE%204TH%20SEMESTER%20EXAM%20MSC%20MPLAN%20COURSE.pdf">

ONLINE 4TH SEMESTER EXAM MSC MPLAN COURSE</a></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>













<!--                                            <div class="gdlr-core-event-item-list gdlr-core-style-grid gdlr-core-item-pdlr gdlr-core-column-20  clearfix" style="margin-bottom: 45px ;">-->
<!--                                                <div class="gdlr-core-event-item-thumbnail">-->
<!--                                                    <a href="#"><img src="upload/shutterstock_59887279-400x257.jpg" width="700" height="450"  alt="" /></a>-->
<!--                                                </div><span class="gdlr-core-event-item-info gdlr-core-type-start-date-month"><span class="gdlr-core-date" >11</span><span class="gdlr-core-month">Sep</span></span>-->
<!--                                                <div class="gdlr-core-event-item-content-wrap">-->
<!--                                                    <h3 class="gdlr-core-event-item-title"><a href="#" >Planning and Facilitating Effective Meetings</a></h3>-->
<!--                                                    <div class="gdlr-core-event-item-info-wrap"><span class="gdlr-core-event-item-info gdlr-core-type-time"><span class="gdlr-core-head" ><i class="icon_clock_alt" ></i></span><span class="gdlr-core-tail">8:00 am - 12:30 pm</span></span><span class="gdlr-core-event-item-info gdlr-core-type-location"><span class="gdlr-core-head" ><i class="icon_pin_alt" ></i></span><span class="gdlr-core-tail">Kingster Grand Hall</span></span>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->


<!--                                            <div class="gdlr-core-event-item-list gdlr-core-style-grid gdlr-core-item-pdlr gdlr-core-column-20  clearfix" style="margin-bottom: 45px ;">-->
<!--                                                <div class="gdlr-core-event-item-thumbnail">-->
<!--                                                    <a href="#"><img src="upload/shutterstock_218235004-400x257.jpg" width="700" height="450" alt="" /></a>-->
<!--                                                </div><span class="gdlr-core-event-item-info gdlr-core-type-start-date-month"><span class="gdlr-core-date" >02</span><span class="gdlr-core-month">Sep</span></span>-->
<!--                                                <div class="gdlr-core-event-item-content-wrap">-->
<!--                                                    <h3 class="gdlr-core-event-item-title"><a href="#" >Asia Pacific Studies Fall Festival</a></h3>-->
<!--                                                    <div class="gdlr-core-event-item-info-wrap"><span class="gdlr-core-event-item-info gdlr-core-type-time"><span class="gdlr-core-head" ><i class="icon_clock_alt" ></i></span><span class="gdlr-core-tail">8:00 am - 5:00 pm</span></span><span class="gdlr-core-event-item-info gdlr-core-type-location"><span class="gdlr-core-head" ><i class="icon_pin_alt" ></i></span><span class="gdlr-core-tail">Kingster Grand Hall</span></span>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->







                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



{% endblock %}
