



{% extends "base.html" %}
{% load static %}

{% block body %}

<!--Body-->



<div class="kingster-page-title-wrap  kingster-style-custom kingster-left-align" id="div_983a_0">

                <div class="kingster-header-transparent-substitute"></div>
                <div class="kingster-page-title-overlay"></div>
                <div class="kingster-page-title-bottom-gradient"></div>
                <div class="kingster-page-title-container kingster-container">
                    <div class="kingster-page-title-content kingster-item-pdlr" id="div_983a_1">
                        <div class="kingster-page-caption" id="div_983a_2"></div>
                        <h1 class="kingster-page-title" id="h1_983a_0">TEQIP</h1></div>
                </div>
            </div>



            <div class="kingster-breadcrumbs">
                <div class="kingster-breadcrumbs-container kingster-container">
                    <div class="kingster-breadcrumbs-item kingster-item-pdlr"> <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Kingster." href="{% url 'home' %}" class="home"><span property="name">Home</span></a>
                        <meta property="position" content="1">
                        </span>&gt;<span property="itemListElement" typeof="ListItem"><span property="name">TEQIP</span>
                        <meta property="position" content="2">
                        </span>
                    </div>
                </div>
            </div>
            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-wrapper " id="div_983a_3">
                        <div class="gdlr-core-pbf-background-wrap"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_983a_4">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_983a_0">TEQIP - II                                                     </h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align">
                                                    <div class="gdlr-core-divider-container" id="div_983a_5">
                                                        <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_983a_6"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                    <div class="gdlr-core-text-box-item-content" id="div_983a_7">
                                                        <p>The College is proud to receive grants from World Bank through MHRD, Govt. of India under Technical Education Quality Improvement Programme – II (TEQIP-II) (Sub Component 1.1) towards improvement in teaching, learning, training and employability process. Under this TEQIP scheme the College has received financial grant of Rs. 2.0 Crores in 1st Phase out of Rs. 10.0 crores for various Departments. Also proportionate fund are utilized towards training of faculty members in top-level foreign universities for enhancement of advanced knowledge in Engineering / Basic Sciences fields and technical staff, organizing Seminar/Conferences, establishing Finishing Schools, academic support for weaker students etc and other related workshops for developmental work to strengthen the Institute in teaching, learning and employment in academics, research, consultancy and other services.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                    <div class="gdlr-core-text-box-item-content" id="div_983a_8">
                                                        <p>Under this scheme financial assistanceship to some Non-GATE M.Tech. students amounting to Rs. 8000/- per month per student are provided. Similarly, through TEQIP the College is admitting full time regular Ph.D. students in various Departments with financial assistanceship of Rs. 18,000/- per month per student to the selected candidates At present 20 Ph.D. students in various Departments are working on full-time regular basis. This TEQIP-II programme is supervised by the Board of Governors (BOG) of TEQIP and Principal through a regulated TEQIP Cell having TEQIP Coordinator, various Nodal Officers and faculty members.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="gdlr-core-pbf-wrapper " id="div_983a_9">
                        <div class="gdlr-core-pbf-background-wrap" id="div_983a_10">
                            <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" id="div_983a_11" data-parallax-speed="0.1"></div>
                        </div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-image-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-left-align">
                                                    <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle" id="div_983a_12"><img src="upload/col-icon-3.png" alt="" width="40" height="43" title="col-icon-3" /></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_983a_13">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_983a_1">Our Philosophy</h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                    <div class="gdlr-core-text-box-item-content" id="div_983a_14">
                                                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-image-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-left-align">
                                                    <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle" id="div_983a_15"><img src="upload/col-icon-4.png" alt="" width="47" height="47" title="col-icon-4" /></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_983a_16">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_983a_2">CET's Principle</h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                    <div class="gdlr-core-text-box-item-content" id="div_983a_17">
                                                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-image-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-left-align">
                                                    <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle" id="div_983a_18"><img src="upload/col-icon-2.png" alt="" width="43" height="45" title="col-icon-2" /></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_983a_19">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_983a_3">Key Of Success</h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                    <div class="gdlr-core-text-box-item-content" id="div_983a_20">
                                                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<br>
                    <div class="gdlr-core-pbf-wrapper " id="div_983a_21">
                        <div class="gdlr-core-pbf-background-wrap" id="div_983a_22"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="div_983a_23" data-sync-height="height-1" data-sync-height-center>
                                        <div class="gdlr-core-pbf-background-wrap" id="div_983a_24"></div>
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-image-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-left-align">
                                                    <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle" id="div_983a_25"><img src="upload/about-icon-1.png" alt="" width="65" height="65" title="about-icon-1" /></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_983a_26">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_983a_4">ZAIRZA</h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                    <div class="gdlr-core-text-box-item-content" id="div_983a_27">
                                                        <p>Campus on a tour designed for prospective graduate and professional students. You will see how our university like, facilities, studenst and life in this university. Meet our graduate admissions representative to learn more about our graduate programs and decide what it the best for you.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-30">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-right" data-sync-height="height-1">
                                        <div class="gdlr-core-pbf-background-wrap">
                                            <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" id="div_983a_28" data-parallax-speed="0.2"></div>
                                        </div>
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-wrapper " id="div_983a_29">
                        <div class="gdlr-core-pbf-background-wrap" id="div_983a_30"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-left" data-sync-height="height-2">
                                        <div class="gdlr-core-pbf-background-wrap">
                                            <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" id="div_983a_31" data-parallax-speed="0.2"></div>
                                        </div>
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content"></div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-30">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="div_983a_32" data-sync-height="height-2" data-sync-height-center>
                                        <div class="gdlr-core-pbf-background-wrap" id="div_983a_33"></div>
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-image-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-left-align">
                                                    <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle" id="div_983a_34"><img src="upload/about-icon-2.png" alt="" width="67" height="58" title="about-icon-2" /></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_983a_35">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_983a_5">COE AI</h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                    <div class="gdlr-core-text-box-item-content" id="div_983a_36">
                                                        <p>Campus on a tour designed for prospective graduate and professional students. You will see how our university like, facilities, studenst and life in this university. Meet our graduate admissions representative to learn more about our graduate programs and decide what it the best for you.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-wrapper " id="div_983a_37">
                        <div class="gdlr-core-pbf-background-wrap" id="div_983a_38"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " id="div_983a_39" data-sync-height="height-3" data-sync-height-center>
                                        <div class="gdlr-core-pbf-background-wrap" id="div_983a_40"></div>
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-image-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-left-align">
                                                    <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle" id="div_983a_41"><img src="upload/about-icon-3.png" alt="" width="63" height="62" title="about-icon-3" /></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_983a_42">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_983a_6">Powerful Alumni</h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                    <div class="gdlr-core-text-box-item-content" id="div_983a_43">
                                                        <p>Campus on a tour designed for prospective graduate and professional students. You will see how our university like, facilities, studenst and life in this university. Meet our graduate admissions representative to learn more about our graduate programs and decide what it the best for you.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-30">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-right" data-sync-height="height-3">
                                        <div class="gdlr-core-pbf-background-wrap">
                                            <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" id="div_983a_44" data-parallax-speed="0.2"></div>
                                        </div>
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <div class="gdlr-core-pbf-wrapper " id="div_983a_45">-->
<!--                        <div class="gdlr-core-pbf-background-wrap" id="div_983a_46"></div>-->
<!--                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">-->
<!--                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container-custom" id="div_983a_47">-->
<!--                                <div class="gdlr-core-pbf-element">-->
<!--                                    <div class="gdlr-core-gallery-item gdlr-core-item-pdb clearfix  gdlr-core-gallery-item-style-grid" id="div_983a_48">-->
<!--                                        <div class="gdlr-core-gallery-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">-->
<!--                                            <div class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-column-first gdlr-core-item-pdlr gdlr-core-item-mgb">-->
<!--                                                <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="upload/banner-1.png" alt="" width="248" height="120" title="banner-1" /></div>-->
<!--                                            </div>-->
<!--                                            <div class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">-->
<!--                                                <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="upload/banner-2.png" alt="" width="248" height="120" title="banner-2" /></div>-->
<!--                                            </div>-->
<!--                                            <div class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">-->
<!--                                                <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="upload/banner-3.png" alt="" width="248" height="120" title="banner-3" /></div>-->
<!--                                            </div>-->
<!--                                            <div class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">-->
<!--                                                <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="upload/banner-4-1.png" alt="" width="248" height="120" title="banner-4" /></div>-->
<!--                                            </div>-->
<!--                                            <div class="gdlr-core-item-list gdlr-core-gallery-column  gdlr-core-column-12 gdlr-core-item-pdlr gdlr-core-item-mgb">-->
<!--                                                <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="upload/banner-5.png" alt="" width="248" height="120" title="banner-5" /></div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        -->
<!--                    </div>-->
                </div>
            </div>

            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 45px ;">
                    <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://cet.edu.in/view_notice_details.php?recid=143"><span class="gdlr-core-course-item-title gdlr-core-skin-title">http://cet.edu.in/view_notice_details.php?recid=143</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                    <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://cet.edu.in/view_notice_details.php?recid=73"><span class="gdlr-core-course-item-title gdlr-core-skin-title">http://cet.edu.in/view_notice_details.php?recid=73</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                    <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://cet.edu.in/view_notice_details.php?recid=109"><span class="gdlr-core-course-item-title gdlr-core-skin-title">http://cet.edu.in/view_notice_details.php?recid=109</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                    <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://cet.edu.in/view_notice_details.php?recid=110"><span class="gdlr-core-course-item-title gdlr-core-skin-title">http://cet.edu.in/view_notice_details.php?recid=110</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                    <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://cet.edu.in/view_notice_details.php?recid=149"><span class="gdlr-core-course-item-title gdlr-core-skin-title">http://cet.edu.in/view_notice_details.php?recid=149</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                </div>
            </div>

                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_983a_4">
                                <div class="gdlr-core-title-item-title-wrap clearfix">
                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_983a_0">TEQIP - II                                                     </h3></div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align">
                                <div class="gdlr-core-divider-container" id="div_983a_5">
                                    <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_983a_6"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 45px ;">
                            <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://cet.edu.in/view_notice_details.php?recid=237"><span class="gdlr-core-course-item-title gdlr-core-skin-title">Minutes of 1st BOG</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                            <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://cet.edu.in/view_notice_details.php?recid=241"><span class="gdlr-core-course-item-title gdlr-core-skin-title">Minutes of 2nd BOG</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                            <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://cet.edu.in/view_notice_details.php?recid=322"><span class="gdlr-core-course-item-title gdlr-core-skin-title">Minutes of 3rd BOG</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                            <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://cet.edu.in/view_notice_details.php?recid=337"><span class="gdlr-core-course-item-title gdlr-core-skin-title">Minutes of 4th BOG</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                            <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://cet.edu.in/view_notice_details.php?recid=338"><span class="gdlr-core-course-item-title gdlr-core-skin-title">Minutes of 5th BOG</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                            <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://www.cet.edu.in/view_notice_details.php?recid=339"><span class="gdlr-core-course-item-title gdlr-core-skin-title">Minutes of 6th BOG</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                            <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://cet.edu.in/view_notice_details.php?recid=371"><span class="gdlr-core-course-item-title gdlr-core-skin-title">Minutes of 7th BOG</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                            <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://cet.edu.in/view_notice_details.php?recid=373"><span class="gdlr-core-course-item-title gdlr-core-skin-title">Minutes of 8th BOG</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                            <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://cet.edu.in/view_notice_details.php?recid=383"><span class="gdlr-core-course-item-title gdlr-core-skin-title">Minutes of 9th BOG</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                            <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://cet.edu.in/view_notice_details.php?recid=385 "><span class="gdlr-core-course-item-title gdlr-core-skin-title">Minutes of 10th BOG</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                            <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://cet.edu.in/view_notice_details.php?recid=397 "><span class="gdlr-core-course-item-title gdlr-core-skin-title">Minutes of 11th BOG</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                            <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://www.cet.edu.in/view_notice_details.php?recid=410 "><span class="gdlr-core-course-item-title gdlr-core-skin-title">Minutes of 12th BOG</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                            <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://cet.edu.in/view_notice_details.php?recid=472 "><span class="gdlr-core-course-item-title gdlr-core-skin-title">Minutes of 13th BOG</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>

                        </div>
                    </div>

                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_983a_4">
                                <div class="gdlr-core-title-item-title-wrap clearfix">
                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_983a_0">NCB for 3D Printer and Scanner                                                    </h3></div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align">
                                <div class="gdlr-core-divider-container" id="div_983a_5">
                                    <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_983a_6"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 45px ;">
                            <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://www.cet.edu.in/view_tender_details.php?recid=254"><span class="gdlr-core-course-item-title gdlr-core-skin-title">http://www.cet.edu.in/view_tender_details.php?recid=254</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>

                        </div>
                    </div>

                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_983a_4">
                                <div class="gdlr-core-title-item-title-wrap clearfix">
                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_983a_0">National Workshop on "Water Resources Management: Challenges of the 21st Century in Indian Context"</h3></div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align">
                                <div class="gdlr-core-divider-container" id="div_983a_5">
                                    <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_983a_6"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 45px ;">
                            <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://www.cet.edu.in/newsfiles/27_Brochure.pdf"><span class="gdlr-core-course-item-title gdlr-core-skin-title">http://www.cet.edu.in/newsfiles/27_Brochure.pdf</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>

                        </div>
                    </div>

                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_983a_4">
                                <div class="gdlr-core-title-item-title-wrap clearfix">
                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_983a_0">Expression for Interest</h3></div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align">
                                <div class="gdlr-core-divider-container" id="div_983a_5">
                                    <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_983a_6"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 45px ;">
                            <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://cet.edu.in/quotation.php "><span class="gdlr-core-course-item-title gdlr-core-skin-title">http://cet.edu.in/quotation.php </span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>

                        </div>
                    </div>

                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_983a_4">
                                <div class="gdlr-core-title-item-title-wrap clearfix">
                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_983a_0">Equity Action Plan (EAP)</h3></div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align">
                                <div class="gdlr-core-divider-container" id="div_983a_5">
                                    <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_983a_6"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 45px ;">
                            <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="https://www.cet.edu.in/view_notice_details.php?recid=329"><span class="gdlr-core-course-item-title gdlr-core-skin-title">https://www.cet.edu.in/view_notice_details.php?recid=329</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>

                        </div>
                    </div>

                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_983a_4">
                                <div class="gdlr-core-title-item-title-wrap clearfix">
                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_983a_0">Annual Report</h3></div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align">
                                <div class="gdlr-core-divider-container" id="div_983a_5">
                                    <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_983a_6"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 45px ;">
                            <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://www.cet.edu.in/view_notice_details.php?recid=365"><span class="gdlr-core-course-item-title gdlr-core-skin-title">http://www.cet.edu.in/view_notice_details.php?recid=365</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>

                        </div>
                    </div>

                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_983a_4">
                                <div class="gdlr-core-title-item-title-wrap clearfix">
                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_983a_0">Equity Action Plan Dec 2020 to March 2021</h3></div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align">
                                <div class="gdlr-core-divider-container" id="div_983a_5">
                                    <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_983a_6"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 45px ;">
                            <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href=" http://cet.edu.in/view_notice_details.php?recid=401"><span class="gdlr-core-course-item-title gdlr-core-skin-title"> http://cet.edu.in/view_notice_details.php?recid=401</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>

                        </div>
                    </div>

                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_983a_4">
                                <div class="gdlr-core-title-item-title-wrap clearfix">
                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_983a_0">Annual Report</h3></div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align">
                                <div class="gdlr-core-divider-container" id="div_983a_5">
                                    <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_983a_6"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 45px ;">
                            <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="http://cet.edu.in/view_notice_details.php?recid=450 "><span class="gdlr-core-course-item-title gdlr-core-skin-title">http://cet.edu.in/view_notice_details.php?recid=450 </span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>

                        </div>
                    </div>


          {% endblock %}