



{% extends "base.html" %}
{% load static %}

{% block body %}

<!--Body-->





            <div class="kingster-page-title-wrap  kingster-style-medium kingster-left-align">
                <div class="kingster-header-transparent-substitute"></div>
                <div class="kingster-page-title-overlay"></div>
                <div class="kingster-page-title-container kingster-container">
                    <div class="kingster-page-title-content kingster-item-pdlr">
                        <div class="kingster-page-caption">Syllabus</div>
                        <h1 class="kingster-page-title" data-orig-font="48px" style="font-size: 40px;">UG Programme</h1></div>
                </div>
            </div>

            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="kingster-content-container kingster-container">
                    <div class=" kingster-sidebar-wrap clearfix kingster-line-height-0 kingster-sidebar-style-right">
                        <div class=" kingster-sidebar-center kingster-column-40 kingster-line-height">
                            <div class="gdlr-core-page-builder-body">
                                <div class="gdlr-core-pbf-wrapper ">
                                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                                        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 40px ;">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;">25-01-2020</h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 45px ;">
                                                    <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="https://www.cet.edu.in/autonomousfiles/B.Arch%20Syllabus.pdf"><span class="gdlr-core-course-item-title gdlr-core-skin-title">B.Arch Syllabus.pdf</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                                                    <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="https://www.cet.edu.in/autonomousfiles/BPLAN.pdf"><span class="gdlr-core-course-item-title gdlr-core-skin-title">B.Plan syllabus.pdf</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                                                    <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="https://www.cet.edu.in/autonomousfiles/BT.pdf"><span class="gdlr-core-course-item-title gdlr-core-skin-title">BT syllabus.pdf</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                                                    <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="https://www.cet.edu.in/autonomousfiles/CE.pdf"><span class="gdlr-core-course-item-title gdlr-core-skin-title">CE Syllabus.pdf</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                                                    <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="https://www.cet.edu.in/autonomousfiles/CSE.pdf"><span class="gdlr-core-course-item-title gdlr-core-skin-title">CSE Syllabus.pdf</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                                                    <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="https://www.cet.edu.in/autonomousfiles/EE.pdf"><span class="gdlr-core-course-item-title gdlr-core-skin-title">EE Syllabus.pdf</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                                                    <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="https://www.cet.edu.in/autonomousfiles/FT.pdf"><span class="gdlr-core-course-item-title gdlr-core-skin-title">FT Syllabus.pdf</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                                                    <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="https://www.cet.edu.in/autonomousfiles/IEE.pdf"><span class="gdlr-core-course-item-title gdlr-core-skin-title">IEE Syllabus.pdf</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                                                    <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="https://www.cet.edu.in/autonomousfiles/IT.pdf"><span class="gdlr-core-course-item-title gdlr-core-skin-title">IT Syllabus.ppdf</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                                                    <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="https://www.cet.edu.in/autonomousfiles/ME.pdf"><span class="gdlr-core-course-item-title gdlr-core-skin-title">ME Syllabus.pdf</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>
                                                    <div class="gdlr-core-course-item-list"><a class="gdlr-core-course-item-link" href="https://www.cet.edu.in/autonomousfiles/TE.pdf"><span class="gdlr-core-course-item-title gdlr-core-skin-title">TE Syllabus.pdf</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i></a></div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

      {% endblock %}